[2020-10-07 14:26] #198 closed

[2020-10-07 14:28] bluffitee commented on #195
Have at it! My level of coding knowledge is still low 😄

[2020-10-07 14:30] esau-morais commented on #198
Thank you for the feedback!!

I agree with you, but not at all. From the moment Daily.dev has a community, it can be something able.

[2020-10-07 14:32] idoshamun commented on #195
@oneminch I guess the issue is yours!
I guess what we need to accomplish is to disable writing to the cache whenever the user browses in incognito mode.
All the writings to the cache happen here:
https://github.com/dailydotdev/daily-apps/blob/master/packages/extension/src/common/cache.js

[2020-10-07 14:34] idoshamun commented on #198
As a company, I cannot rely soley on the community. We must have the ability to update the docs by ourselves when needed.
At the moment we cannot take responsibility for the translations as it's too much of an operation.
I hope you understand.

[2020-10-07 14:37] esau-morais commented on #198
I see. Thank you again for the feedback

[2020-10-07 16:36] oneminch commented on #195
So I'm guessing I'm going to make a check for whether each browser type is in private mode. Chrome and Firefox are the ones supported, right?

[2020-10-07 16:40] idoshamun commented on #195
Exactly. We support also Edge (Chromium-based).
We use Mozilla's polyfill for unified access to the Web Extension API (https://github.com/mozilla/webextension-polyfill).
It's available globally as `browser`.

[2020-10-07 17:25] oneminch commented on #195
How can I test the extension? I basically added the code below. I used the `inIncognitoContext` property to check if browser is in private mode or not (https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/extension/inIncognitoContext).
[code]

[2020-10-07 18:15] idoshamun commented on #195
Check out the instructions here:
https://github.com/dailydotdev/daily#%EF%B8%8F-setting-up-daily-services
Let me know if you need help

[2020-10-07 19:10] oneminch commented on #195
I keep getting this error when I run the Docker setup. I haven't dealt with Docker before I just had a fresh install of it.
[code]

[2020-10-07 19:12] idoshamun commented on #195
I'm not sure what is this error.
If you want you can submit a PR and I'll do the checks ☺️

On Wed, Oct 7, 2020, 22:10 Dawit <notifications@github.com> wrote:

[2020-10-07 19:27] jeferson-sb opened #199 "🧩 FEATURE REQUEST: Add option to filter more sources"
## Feature Request

### Description

I would love to have an option to filter two or more sources at the same time, like Smashing magazine and CSS-Tricks
I like the Popular section, but seeing dozens of articles from (almost) different places every time it's kind of overwhelming

### Solution

Currently, when I go to the sidebar menu, search and click I can only see one of clicked the sources at a

[2020-10-08 08:12] idoshamun commented on #199
Hey @jeferson-sb,

Thanks for the effort of submitting this request and also creating this awesome mockup.
You can currently toggle on/off sources that you would like to see in your feed.
Open the sidebar click on the X button to remove a source from your list and the + button to add it.
By default, all sources are enabled and you can disable the ones you don't like.
What do you think?

[2020-10-08 13:13] jeferson-sb commented on #199
Oh, that might help, I didn't know that
Thanks @idoshamun

[2020-10-08 14:01] #199 closed

[2020-10-08 17:06] oneminch commented on #195
I couldn't make Docker work. I have installed it and run the setup commands but it starts getting stuck at some point. So I'll just make changes and submit a PR without testing like before. I'm planning to use this Promise-based script I found on GitHub (https://gist.github.com/jherax/a81c8c132d09cc354a0e2cb911841ff1#file-is-private-mode-js). Should I create a new file for it, export it and import

[2020-10-09 08:17] idoshamun commented on #195
Don't worry about the questions. I'll try it out later on.
Btw, I see you opened a new PR. Should I close the first one?

[2020-10-09 14:33] oneminch commented on #195
You should. Thanks.

[2020-10-16 15:37] esau-morais opened #200 "🐛 BUG: Images aspect ratio not right"
## 🐛 Bug Report

### What went wrong? 🤔

Firstly, my profile image was not being loaded. Then, I uploaded again and the photo aspect ratio was not right (it never happened) and the issue is just happening in the main page

![Issue correct way](https://res.cloudinary.com/emmorais/image/upload/v1602860843/Daily.dev/issue_correct.png)
_If you see, here is working_

![Issue wrong way](https://res.clou

[2020-10-17 03:54] RajnishKatharotiya opened #201 "🧩 FEATURE REQUEST: Placeholder image in offline mode"
## Feature Request

When the user tries to open daily.dev tab without internet connectivity, it's serving news from cache but each image from news card is requesting several times and until then it's showing only alt title instead image.

### Solution
Instead of that, we can add a placeholder image when there is no internet connection and cached image.

### Advantages
- By adding a placeholder, we

[2020-10-17 06:35] idoshamun commented on #201
Hey @RajnishKatharotiya,

Thanks for the suggestion.
If I remember correctly we should have something in place for this scenario.
Maybe it's bugged. Let me check.

[2020-10-17 06:37] idoshamun commented on #200
Hey @esau-morais,

Thanks for this issue 👍
We've already fixed the issue in the daily.dev website.
I'll fix it soon in the extension as well.

[2020-10-17 06:37] RajnishKatharotiya commented on #201
Hi @idoshamun,
Okay,  If it's bugged or needed to implement. Please let me know. I will be happy to contribute.

[2020-10-17 06:41] idoshamun commented on #201
Thanks! It would be great.
Here is the line where we set the image in case of an error:
https://github.com/dailydotdev/daily-apps/blob/master/packages/components/src/components/DaCardPost.vue#L48
You may proceed by checking it and fixing it if needed.
It might be needed to store the image locally although the image should be cached in most cases.
Let me know if you need further help

[2020-10-17 06:42] RajnishKatharotiya commented on #201
Okay, I'll look into it. Thanks.

[2020-10-18 08:32] idoshamun commented on #200
I added also `object-fit: cover;` in the extension. Will release it as part of the next version.
Let me know if we miss any other place. Thank you!

[2020-10-18 08:32] #200 closed

[2020-10-18 08:46] idoshamun commented on #103
Hey @KL13NT,

Could you please confirm that you're working on this issue?

[2020-10-18 09:17] dror-weiss commented on #147
Actually, I was looking for the same exact feature, rather than focusing on **Momentum's Notes**.
The fact that I open the new tab and see all the latest feed PLUS my notes helps a lot, in my opinion.

@idoshamun , please re-consider.

[2020-10-18 14:09] idoshamun commented on #147
Hey @dror-weiss,

I will raise this issue in the next product planning meeting.
Bear in mind that we are a small team with a full backlog so I can't promise anything.
Thanks :)

[2020-10-19 15:20] esau-morais opened #202 "🐛 BUG: Twitter title is not being shown"
## 🐛 Bug Report

### What went wrong? 🤔

If I hover the Twitter icon, it's not showing the tooltip with the website title (what is working to the other)

### Expected Behavior

Show website title on hover (all icons)

![Hover LinkedIn icon](https://res.cloudinary.com/emmorais/image/upload/v1603120138/Daily.dev/linkedin_icon_working.png)
_If you see, when I hover the LinkedIn icon, it's showing the

[2020-10-20 06:49] idoshamun commented on #202
Hey!

Thanks for the report. I'll check it out :)

[2020-10-20 18:13] crankymaracuja commented on #191
I am sorry for the late response. Yes, it is fixed. Thanks 😊

[2020-10-24 18:40] saqibameen opened #204 "🐛 BUG: Unable to run the extension locally"
## 🐛 Bug Report

### What went wrong? 🤔

The extension is not showing any feed while running locally and showing just the empty screen.

### Expected Behavior

Work like the installed one.

### Actual Behavior

![Img](https://i.imgur.com/0Uy2vYt.png)

Here is the error:

![issue](https://i.imgur.com/XvxbCSM.png)

### Steps to Reproduce Issue

I followed the steps described in the readme to run it

[2020-10-24 20:43] rodrigojmr opened #205 "🐛 BUG: Account and bookmarks not being synced on mobile"
On desktop I am logged in on daily.dev with my github account. When I try to use the Daily Go PWA, I log in using the same account, but nothing syncs. Bookmarks or posts in my feed. I've logged in and out in both.

#### Operating System
Mobile, Android 9

#### Version of Daily
Daily Go ver 3

[2020-10-25 09:27] idoshamun commented on #204
Hey!

Thanks for trying out daily.dev locally and reporting this issue 🙌
You can ignore the logs about the service worker that's fine when you use it locally.
Could you please send me the logs of the extension itself?
Open DevTools in the new tab and navigate to the Console tab.

[2020-10-25 09:36] idoshamun commented on #205
Thanks for reaching out 🙏
Let's try to investigate this together so I'll have information as I cannot understand the root cause at the moment.

When you're logged-in to the extension do you see your bookmarks?
If yes, try to log-out and check if the bookmarks are gone?
If yes, try to log-in again and check if they're back.

[2020-10-25 10:30] saqibameen commented on #204
Sure. Here is the console tab:

![](https://i.imgur.com/NLbuOu5.png)

And here is the terminal logs on running the docker-compose:

![](https://i.imgur.com/0Yj9GbH.png)

[2020-10-25 10:41] rodrigojmr commented on #205
When I opened the issue, I didn't check for a repository for Daily Go, which is the platform I'm having issues with, so apologies for that. Should I open an issue there? Here's more details on it:

For both desktop and mobile, I'm logging in with this github account.

On desktop, when I'm logged in on desktop, I see my bookmarks. When I log out, the bookmarks are gone, and when I log back in, they

[2020-10-25 13:27] idoshamun commented on #205
First of all, it's great to hear that your account is not bugged or anything.
The bookmarks are synced with the extension and it's a good sign.
Probably it's something with daily go. daily go is in a maintenance phase and we're no longer working on it, and we'll probably take it down soon.
I'll try to give a look and see if I can resolve the issue.

[2020-10-25 13:29] idoshamun commented on #204
Everything looks fine. Could you check the Network tab? Look specifically at the GraphQL requests.
Even if the status code is 200 the response might hint that's something wrong...

[2020-10-25 13:33] idoshamun commented on #202
I checked the issue and was not able to reproduce it 🤷‍♂️
I see the "Twitter" tooltip when I hover the Twitter icon.
I'm closing the issue for the time being...

[2020-10-25 13:33] #202 closed

[2020-10-25 13:59] rodrigojmr commented on #205
I see, I wasn't aware of that. Out of curiosity, I assume something for mobile may be being worked on? Thanks for checking it out!

[2020-10-25 14:44] idoshamun commented on #205
Yes indeed. We're building a new webapp that is partially live already.
It's mainly used for commenting and sharing posts today but we'll expand it over time.

[2020-10-26 17:15] saqibameen commented on #204
Okay so I dug deeper, there was some issue with the Node version and I think I was missing the step to populate the database. One of the packages has some specific Node version requirements. I updated the node version and repeated all the steps and I was able to fix it. Thank you for your time.

[2020-10-26 17:15] #204 closed

[2020-10-27 14:54] mojtabakaviani opened #208 "🧩 FEATURE REQUEST: Move to top of page button"
Many times when reads posts need scrolling move to top of page, please add move up button or sticky header on top.

[2020-10-27 16:06] idoshamun commented on #208
Hey! 👋

Thanks for reaching out.
I'll review this issue with the team and get back to you.

[2020-10-28 01:07] jahnli opened #209 "Chinese support"
Does the author consider Chinese support

[2020-10-28 07:38] idoshamun commented on #209
Hey!

At the moment we're not considering Chinese support.
Thanks for reaching out.

[2020-10-28 07:38] #209 closed

[2020-10-28 13:27] idoshamun commented on #205
I think I fixed the issue.
Could you please confirm?

[2020-10-29 10:55] rodrigojmr commented on #205
The issue is still persisting on my end.

[2020-10-29 14:47] KL13NT commented on #103
Hey @idoshamun, was busy the past few days and couldn't get to work on this. When I'm ready to work on it I'll reply here (if no one else took it).

[2020-10-29 21:28] idoshamun commented on #103
Ok, no worries. Let me know when you're available

[2020-10-29 21:29] idoshamun commented on #205
Oh, that's weird. Don't you see at all your bookmarks in Daily Go?
Could you please try incognito?

[2020-10-30 03:02] rodrigojmr commented on #205
Yeah, I cleared chrome's data from github and go. daily.dev, and tried both in normal and incognito, and nothing was syncing. I also can't seem to actually bookmark any article.

Also, if it's deprecated and will be replaced, don't worry about it too much.

[2020-11-02 04:51] kishvanchee opened #210 "🧩 FEATURE REQUEST: Option to disable in new tab but keep the app working"
## Feature Request

Option to disable in new tab but keep the extension working.

### Description

Right now the new tab by default opens daily.dev. I don't see an option to disable it *in new tab*. I would like the option to disable overriding the new tab, at the same time keep it enabled so that I can access it when I require it.

I can currently disable/enable the app completely from the add on

[2020-11-02 06:52] idoshamun commented on #205
I'm sorry to hear that it didn't solve the issue but thank you for your understanding!
I'll close the issue for the time being and hopefully, we will have a new solution soon.

[2020-11-02 06:52] #205 closed

[2020-11-02 06:57] idoshamun commented on #210
Hey @kishvanchee,

Unfortunately, browsers don't provide API to disable the new tab feature.
We've implemented a custom Do Not Disturb mode in the application.
You can find it in the header of the extension. It's a clock-shaped button.
<img width="1907" alt="Screen Shot 2020-11-02 at 8 55 27" src="https://user-images.githubusercontent.com/1993245/97838657-53928100-1ce9-11eb-9a18-820c3b607f12.png">

[2020-11-02 06:57] #210 closed

[2020-11-02 07:16] kishvanchee commented on #210
@idoshamun Thank you. This definitely seems to be a browser issue.

Anyone else who might come across this, I solved this using New Tab Override Addon.

[2020-11-02 19:53] fabio-s-franco opened #211 "🐛 BUG: Created duplicated accounts (same e-mail)"
## 🐛 Bug Report

### What went wrong? 🤔

I somehow managed to create two accounts under the same e-mail. I think it happened when I wanted to enter the sticker referral context through my phone. Previously I had only logged in via the desktop browser, when I logged in via the phone I used google as sign in method because it was available.

So, I noticed there was something wrong as the referral ur

[2020-11-03 08:42] anushkrishnav commented on #208
Can I work on the issue ?

[2020-11-03 10:37] arunagri82 opened #212 "🧩 FEATURE REQUEST: update the free swag"
update free swag provider details and upcoming hackthons
## Feature Request

### Description

### Solution

### Alternate Solutions

[2020-11-03 11:11] idoshamun commented on #212
Hey!

I'm not sure I understand what you're referring to.
Could you please share a screenshot?

[2020-11-03 11:12] idoshamun commented on #208
Hey @anushkrishnav,

Thanks for the will to contribute!
I have to check what is the status of the design for this feature.

[2020-11-03 11:25] idoshamun commented on #211
Hey @fabio-510,

Thanks for the detailed explanation.
Unfortunately, our authentication system doesn't support merging to account providers into one user at the moment.
If you want me to proceed with deleting one of your accounts please shoot us an email at hi@daily.dev and state which one of them you want to delete.

Regarding the referral link, there is no reason to hide your username as it's pu

[2020-11-04 20:54] fabio-510 commented on #211
I think the least that needs to be addressed is an e-mail verification. I can put any e-mail there and there is no verification for ownership.

I would like to reiterate that the referral link should allow you not to show your username. If the username is publicly available in the system it's even worse, because username is considered personal information under GDPR regulations and needs consent t

[2020-11-04 20:57] fabio-510 commented on #211
@idoshamun I don't think I have the power to reopen the issue. So it's up to you.

[2020-11-06 08:03] idoshamun commented on #211
I'm sorry if I made you feel like I'm dismissing the issue when I certainly don't.
The fact that I closed the issue doesn't mean that I'm not aware or planning to deal with this. It's just that I know as I mentioned before that I can't fix this matter in the upcoming months and I don't want this issue to be stale. But I don't mind opening it again, so I'll do so.
I appreciate you dedicated the tim

[2020-11-07 00:49] fabio-510 commented on #211
I can understand of course, that's why I mentioned maybe it's not a priority, but it didn't come across this way. So it's mainly about the way it was communicated by you.

Anyway, I don't want to sound like I know how you should track this issue, so I won't mind you closing it. If I get the chance I will try contributing to the issue.

Good luck.

[2020-11-08 10:23] idoshamun commented on #208
The design is ready! 🥳

Let's talk first about the user experience.
At first, the button is hidden.
Once the user scrolls more than 50% of the screen, the button will appear with a transition.
On hover, the button will change its appearance, and on click, it will smoothly scroll to the top.
If the user scrolls back above the threshold (50% of the screen), the button should disappear with a transit

[2020-11-08 15:26] mojtabakaviani commented on #208
thank you! 👏
I will hope marge and release very soon.

[2020-11-09 06:54] idoshamun commented on #211
I'm sorry if I didn't communicate it correctly 🙏

It's ok, I can leave that open. No worries.

I'm looking forward to seeing you around :)

[2020-11-11 06:24] Himato opened #213 "🧩 FEATURE REQUEST: Most Popular Sites"
## Feature Request

### Description
I would like to have a tab for popular sites like the one you made most visited sites. Because I pinned some websites in the old new tab for the websites that I usually visit so that it's only one click away.

What I used to have: -

![Screenshot 2020-11-11 080847](https://user-images.githubusercontent.com/38123939/98775998-d9ec4880-23f6-11eb-8c64-ce5e1a226275.p

[2020-11-11 09:47] idoshamun commented on #213
Hey @Himato!

Thanks for using daily.dev and the kind words 🙌
As far as I know, there is no API to get these websites.
The only API that is available for extensions is the `topSites`.
Here is the documentation, if you fancy checking it out yourself as well 😉
https://developer.chrome.com/extensions/topSites

[2020-11-11 09:52] Himato commented on #213
Thank you for your response. I thought about this also because I tried to see the best option, but you can just add an option for it in the layout for each user to add his popular websites because top sites aren't really useful in all cases and you might save it locally so that it doesn't take space in the database for no real benefit.

[2020-11-11 09:57] idoshamun commented on #213
Unfortunately, developing our mechanism is out of scope at the moment 😢
In case you want to fall back to the default tab and keep daily.dev you can turn on the Do Not Disturb mode.

[2020-11-11 09:57] #213 closed

[2020-11-12 10:09] anushkrishnav commented on #208
Please assign it to me
I will work on it.

[2020-11-12 10:11] idoshamun commented on #208
Hey @anushkrishnav!

Great talking to you again :)
Let's check what's @mojtabakaviani's status.
I think he started working on it.

[2020-11-12 18:14] L-Clem opened #215 "🧩 FEATURE REQUEST: APPLE Safari Extension"
I'm thinking that the title is clear enough for me to not explain.
So it could be great to get a _Safari Mac_ extension for _daily.dev_ as we have one for _Chrome_, _Firefox_ and _Edge_.
Even more, _MacOS Big Sur_ is coming with support for the _WebExtension API_, for implementing _Chrome_ based extensions into _Safari_, so it could be more simple to do it now.
[Quoting APPLE](https://developer.ap

[2020-11-12 18:30] #215 closed

[2020-11-12 18:31] L-Clem commented on #215
I didn't see #41

[2020-11-12 18:33] L-Clem commented on #41
Can't the new support for the _WebExtension API_ by _MacOS Big Sur_, be of any help ?
[Quoting APPLE](https://developer.apple.com/macos/) :

With support for the popular WebExtension API, it’s even easier to bring powerful extensions to Safari. Xcode 12 even includes a porting tool to streamline the process.
The new Extensions category on the Mac App Store showcases Safari extensions, with editori

[2020-11-12 18:38] idoshamun commented on #41
This is big news, honestly.
I tried yesterday to convert daily.dev using their automated tool but some features are still lacking.
Authentication doesn't work at all and the sidebar doesn't open.
I didn't try to fix or investigate further these issues as I have no time currently, hopefully as Safari's Web Extension support will evolve it will be easier.
I will keep my eyes and ears open as it's im

[2020-11-12 22:58] L-Clem commented on #41
@idoshamun I'm not very well versed in building extensions but I will try to convert daily.dev extension in a Safari one with the tools that Apple puts at our disposal in xCode. If it is conclusive I will open a pull-request.

[2020-11-12 23:08] L-Clem commented on #41
Normally there is a way to make Safari open the extension as the default new tab. If I had more knowledge I would have loved doing it for this extension. Maybe I will try it to see if I can do something (and learn from doing it btw).

[2020-11-13 09:38] Dhruv-Garg79 opened #216 "🧩 FEATURE REQUEST: Please give options to customize when daily.dev is opened."
## Feature Request
Give options to customize when daily.dev is opened.

### Description

I would like the option to turn off daily.dev opening on every new tab page and only shown by keyboard shortcut or by pressing on the extension icon.

[2020-11-13 10:08] AbhayAysola commented on #216
This is also something I would like to see implemented. I like my new tab page to be a minimal setup, and daily.dev doesn't support that. So implementing the daily.dev page opening with a keyboard shortcut or by pressing the extension icon would be nice.

[2020-11-13 10:42] idoshamun commented on #216
Hey!

You can turn on the Do Not Disturb mode to disable the New Tab functionality.
Once it's turned off you can use the extension icon to open the feed.
Let me know what you think 🙌

[2020-11-13 10:48] idoshamun commented on #41
@L-Clem let me know if you have any progress. Thanks :)

[2020-11-13 11:12] Dhruv-Garg79 commented on #216
Hi! Thank you for your reply. It works as you mentioned by turning on do not disturb.

But the daily.dev page is still loaded in a new tab and then instantly removed when do not disturb is turned on. I would like, if it can be changed from extension settings if it is possible.

[2020-11-13 11:23] Dhruv-Garg79 commented on #216
@idoshamun  There also seems to be some kind of bug in do not disturb functionality. When turned on It closes the daily.dev even when you go back from profile page.

steps:
1. opened daily.dev by clicking icon
2. go to profile page
3. pressed alt + left arrow to go back

what happened: the daily.dev page closed on it's own
what should have happened: It should have worked normally

I am not opening

[2020-11-13 14:49] idoshamun commented on #216
Unfortunately, the browser doesn't provide a way to disable the new tab functionality temporarily. We had to "hack" our way to implement the Do Not Disturb.

Regarding your second issue, it's indeed a bug and we didn't plan it this way. I will need to confirm and check it. Thanks 👍

[2020-11-15 09:39] imskm opened #218 "🧩 FEATURE REQUEST: Please don't hijack new tab"
## Feature Request

Please don't hijack new tab, Instead just open daily page when daily extension is clicked.

### Description
I just want to be able to keep my original home page in new tab and just access the daily page via extension when I need it.

### Solution
Don't open daily page (list of articles when daily extension is clicked) when clicked on daily extension button instead open the dail

[2020-11-15 09:58] AbhayAysola commented on #218
#216 . You can achieve this functionality by turning on Do Not Disturb mode. I have another new tab extension, and by using do not disturb mode, the extension and daily.dev work perfectly in parallel.

[2020-11-15 10:18] idoshamun commented on #218
@AbhayAysola thank you for assisting me with such a quick reply! 🙏

Indeed you can use Do Not Disturb or install the desired New Tab extension after daily.dev.

Anyway, if you have further questions let's discuss it here #216

[2020-11-15 10:18] #218 closed

[2020-11-15 11:26] imskm commented on #218
I've used New Tab extension in Firefox but It doesn't work as I needed. So installing new tab extension doesn't solve what I mentioned.
**What happens when I open new tab after installing and setting new tab extension:**
* It just opens new blank page with no favicon which is weird
* I tried setting custom url to about:home but it didn't work either.
Daily extension is very good extension to have

[2020-11-15 11:47] idoshamun commented on #218
Unfortunately, the browser doesn't provide a way to disable the new tab functionality temporarily. We had to "hack" our way to implement the Do Not Disturb.

If you manage to find a solution to your problem, please let me know.
We might integrate it back into our product.

[2020-11-15 12:06] imskm commented on #218
@idoshamun  Sure!

[2020-11-16 02:50] Darkcove opened #219 "🧩 FEATURE REQUEST:"
### A google search bar in header for browser

[2020-11-16 10:12] idoshamun commented on #219
Hey @Darkcove,

Thanks for using daily.dev.
Unfortunately, we are not planning to integrate google search bar soon.
You can use the URL box of the browser to search in your favorite search engine.

[2020-11-16 10:12] #219 closed

[2020-11-20 21:53] thinkverse opened #220 "🐛 BUG: Aspect ratio on author image in /blog not consistent when image size isn't 1:1"
## 🐛 Bug Report

### What went wrong? 🤔

Hello again. 👋

Found an issue on `/blog` where the author image gets squished when the image size isn't in a 1:1 aspect ratio.

### Expected Behavior

Expected aspect ratio on author avatar to match other avatars.

![Screen shot of author image having a one-to-one aspect ratio](https://user-images.githubusercontent.com/2221746/99850671-13068480-2b7e-11eb-8

[2020-11-21 08:40] idoshamun commented on #220
Hey @thinkverse,

Thanks for another great catch!
Our blog and landing page are created and hosted on Webflow which is a NoCode platform.
I'll forward this issue to my partner who is in charge of this project :)
I'll let you know once it's fixed :)

[2020-11-21 20:42] thinkverse commented on #220
Always up for reporting issues I find. 👍 &nbsp; As I also encourage others to do as well. 🙂

[2020-11-22 15:04] idoshamun commented on #220
Should be fixed now :)

[2020-11-22 15:04] #220 closed

[2020-11-23 18:40] Sameedahmad commented on #201
Are you working on this one @RajnishKatharotiya ??

[2020-11-24 11:11] idoshamun commented on #201
Hey @Sameedahmad,

Looks like @RajnishKatharotiya is not available to work on this.
Would you like to do it instead? 🙏

[2020-11-24 11:12] #212 closed

[2020-11-24 11:13] idoshamun commented on #208
@anushkrishnav looks like @mojtabakaviani is not available to work on this.
Would you like to proceed instead? 🙏

[2020-11-24 17:31] Sameedahmad commented on #201
Sure, I would love to work on this one, Would you elaborate on what exactly should I change?

[2020-11-24 20:21] idoshamun commented on #201
The thing is that currently if the image fails to load it changes the source to a remote fallback image.
We would like to download the remote image and add it to the local folder so it will be available even without the internet.
This is where the magic happens:
https://github.com/dailydotdev/daily-apps/blob/master/packages/components/src/components/DaCardPost.vue#L140

Thanks!

[2020-11-25 22:46] Vondelphia opened #221 "Hide Images + RSS Sources?"
Might you know how I can "hide" or "remove" images from being shown on the new tab Card Layout? I'd rather just read the text. MAYBE if insane layout was a 2 or 3 col layout that'd be nice.... I thought maybe I could use Stylus but that doesn't work.

![image](https://user-images.githubusercontent.com/16372882/100288111-f97d8800-2f43-11eb-8020-eb27c5101cfd.png)

One more questions, where can I fin

[2020-11-26 06:30] idoshamun commented on #221
Hey!

Thanks for using daily.dev, unfortunately, it's not possible at the moment to hide the images in the card mode.
For this exact reason we built insane mode but I can understand that you don't like it either.

Regarding the sources, they are all presented in the sidebar. Unfortunately, I cannot provide an exported file.
I hope you understand 🙏

[2020-11-26 11:08] anushkrishnav commented on #208
Where do I start ?

[2020-11-27 07:02] idoshamun commented on #208
First, start by having a local environment for the extension:
https://github.com/dailydotdev/daily/issues/208#issuecomment-723557211

Then read my technical explanation for implementing the feature here:
https://github.com/dailydotdev/daily/issues/208#issuecomment-723557211

Feel free to ask any question and reach out for help :)

[2020-11-27 20:03] #221 closed

[2020-11-27 20:16] mojtabakaviani commented on #208
@idoshamun Can assigned this again to me?

[2020-11-28 09:38] idoshamun commented on #208
I need to understand who can complete this issue.
@mojtabakaviani would you have time to work on it? Because you were not available before...
@anushkrishnav have you started to work on this issue?

[2020-11-28 12:21] mojtabakaviani commented on #208
@idoshamun I think that you work on it after post your design! I'm ready to work on it.

[2020-11-29 10:09] rathanakumar opened #222 "🧩 FEATURE REQUEST: Android and IOS Application Development"
## Feature Request
 Android and IOS Application Development

### Description
 I love Daily  Dev. Before knowing about Daily Dev i was used medium for reading tech blogs. Medium has many channels like web ,mobile and extension etc., Sometimes i feel,  Android or IOS app for Daily Dev makes high visibility and usage.

### Solution
Dedicated Android And IOS App Development for Daily Dev.

[2020-11-29 13:54] idoshamun commented on #222
Hey @rathanakumar,

Thanks for such a great idea.
We're working on a PWA version of daily.dev that will obviously support mobile devices :)
Stay tuned!

[2020-11-29 13:54] #222 closed

[2020-11-29 20:52] idoshamun commented on #208
Let's wait for Monday, and give @anushkrishnav a chance to reply

[2020-11-29 21:43] anushkrishnav commented on #208
I am a bit tied up with a hackathon so if @mojtabakaviani  wants to go ahead please do :)

[2020-11-30 12:09] idoshamun commented on #208
It's settled then, @mojtabakaviani I'm assigning you :)

[2020-11-30 12:27] DaNoobBoii opened #223 "🐛 BUG: can't change account"
## 🐛 Bug Report

### What went wrong? 🤔

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Issue

### Solution

### Environment

#### Operating System

#### Version of Daily

#### Browser

[2020-11-30 12:37] idoshamun commented on #223
Hey @DaNoobBoii,

Can you please provide more details about this issue?
Please fill in what went wrong and what are the steps to reproduce...

[2020-12-01 13:18] #223 closed

[2020-12-13 08:27] #208 closed

[2020-12-13 08:34] mojtabakaviani commented on #208
@idoshamun  When release this feature?

[2020-12-13 08:45] idoshamun commented on #208
This week probably. There's a big release coming soon...

[2020-12-15 07:58] zvikarp opened #225 "🐛 BUG: do not disturb banner hidden"
## 🐛 Bug Report

### What went wrong? 🤔

Just a UI fix, the banner is hidden behind the weekly goal indicator.
![image](https://user-images.githubusercontent.com/13397207/102186233-faf2fe00-3eba-11eb-9a4f-93bb878b85f3.png)

### Steps to Reproduce Issue

Set to do not disturb 🙃

### Solution

Small UI fix, one option is to make the banner higher, so the weekly goal indicator won't cover the text. I

[2020-12-15 08:34] idoshamun commented on #225
Hi Zvi! 🙌

Thanks for reporting this issue.
We would like to proceed with your suggested solution.
We should move the DND banner to the top of the application.
There is one edge case that should be taken into account and it's when the promotional banner is shown together with the DND. In this case, the DND should be at the top, followed by the promotional banner.

I would be more than happy to gui

[2020-12-15 11:00] zvikarp commented on #225
Wow, thank you.

I'm trying to run it locally, having issues with docker-compose:

[code]

I'm using windows so I believe it has to do with the commands `command: ["./wait-for.sh", ...`  but not sure.

By any chance have you got this error or know if it runs on windows?

[2020-12-15 11:14] idoshamun commented on #225
I'm not familiar with this error but I guess it has to do with Windows. On
Mac/Linux it works perfectly fine. I agree with where you're pointing at.
It has to do with the path to the script.

On Tue, Dec 15, 2020, 13:00 Zvi Karp <notifications@github.com> wrote:

[2020-12-15 13:50] zvikarp commented on #225
I did the fix and opened a PR 😀, please let me know if any other changes need to be done.

BTW the issue with docker was with the difference between newlines in windows (CRLF) and Linux (LF), I came across some other issues and did a quick-fix. If you are interested in streamlining the process for windows, I'll be happy to do it in the future.

[2020-12-15 14:08] idoshamun commented on #225
Wow, Zvi! This was super quick. Fixing both the Windows issue and the bug itself, very impressive.
I'll do my best to proceed with the review today or tomorrow. Please make sure I have also write access to the PR to apply minor fixes if needed.

It would be wonderful if you can create a PR for the Windows compatibility issue as well. 🤩

[2020-12-15 14:40] zvikarp commented on #225
@idoshamun no rush, yes you have access to make changes to the PR.
I'll do my best to work on the Windows compatibility issue in the following few days.

[2020-12-15 17:58] zoncrd opened #226 "🐛 BUG: unreachable bookmarks section"
## 🐛 Bug Report

### What went wrong? 🤔

I was scared to death that I lost all my bookmarks.

After the introduction of the Weekly goal badge, the bookmarks section looks to be unreachable:

![immagine](https://user-images.githubusercontent.com/6806779/102249305-83e15800-3f02-11eb-80fd-987298015d78.png)

until an article is opened and the functionality is unlocked :

![immagine](https://user-image

[2020-12-16 13:52] zoncrd commented on #226
@idoshamun I tried to reproduce the behavior of the "ui return to minimal form after features unlocking" encountered yesterday, but now it seems it's no longer happening 🤔. Yesterday, as described in the report, after a few minutes that the features were unlocked, the ui turn back to its minimal form when opening a new tab.
I'm sorry not being able to provide more usefull details about it.

[2020-12-16 16:05] idoshamun commented on #226
Don't worry I'll do my best to have a look at it. Maybe I can try to debug it on Firefox instead of Chrome

[2020-12-17 09:45] #225 closed

[2020-12-18 12:00] MarkTanashchuk opened #234 "🧩 FEATURE REQUEST: Don't show opened articles"
Now when I open an article, its title becomes gray, but opened articles cannot be hidden, and every time I want to scroll a little more, I need to scroll through articles that I already saw and I don't need.

It would be great if I could hide them in some way

[2020-12-20 13:51] idoshamun commented on #234
Hey @MarkTanashchuk,

This feature is already implemented and you can use it immediately once you sign up to daily.dev.
Open the settings panel and turn on the toggle as shown in the screenshot below.
<img width="1902" alt="Screen Shot 2020-12-20 at 15 50 25" src="https://user-images.githubusercontent.com/1993245/102715034-33d80c00-42db-11eb-8a69-0396eda77109.png">

[2020-12-20 13:51] #234 closed

[2020-12-23 04:35] pannz opened #235 "🧩 FEATURE REQUEST: Able to remove an article card/item"
## Feature Request
Able to remove an article card/item

### Description

Would like it if we can remove some article card, imagine there are lots of articles on the page, and some of them are not interested.
e.g:
1. I see a lot of similar articles especially in the popular/most upvoted tab, there are most related to `most X tools/libs/extensions that you should know in 2020`, you don't want to ope

[2020-12-23 04:40] pannz commented on #235
Oh, found it already have `hide the post`, just found it till I hover on the corner. 😂

[2020-12-23 04:40] #235 closed

[2020-12-27 13:28] GeeSuth opened #238 "🧩 FEATURE REQUEST: Just one language"
## Feature Request

Just show one language articles and tips

### Description

if I interested in one programming language  and don't wanna see more articles , i thing be fine if there any remember filter
to do that

### Solution

add option (filter) to choose you interested language

### Alternate Solutions

Anyway thank you!!!! you done amazing thing

[2020-12-27 14:35] idoshamun commented on #238
Hi!

This is indeed possible 😇
All you need to do is sign-up, open the sidebar, click on the toggle button and choose the tags you like 🚀

[2020-12-27 14:35] #238 closed

[2020-12-28 01:09] robwilde opened #239 "🐛 BUG: Top left link does not go to home page"
## 🐛 Bug Report

### What went wrong? 🤔

In the profile section the home link in the top left corner is [daily.dev BETA](https://app.daily.dev/) which takes you to the "Something awesome is coming soon" page.

### Expected Behavior

That the link go back to the main or home page

### Actual Behavior

takes you to the "Something awesome is coming soon" page.

### Steps to Reproduce Issue

open a ne

[2020-12-28 07:08] idoshamun commented on #239
Hi @robwilde,

The profile section is part of our web application and not the extension.
Unfortunately, we can't navigate you back to the extension from a regular website.
We're working on building a home page with a feed and everything just like in the extension.
Hopefully, it will be ready soon. Stay tuned!

[2020-12-28 07:08] #239 closed

[2021-01-01 19:45] Nitesh-thapliyal opened #241 "🧩 FEATURE REQUEST:"
## Feature Request

### Description

- I would like to have small coding problems as a weekly goal stat like reading weekly goals, reading articles increase rank in the same way coding every day will increase the rank.

### Solution

- There should be a drop-down menu where the user will select one programing language and according to the language user chooses he/she will get small fun coding prob

[2021-01-03 09:13] idoshamun commented on #241
Hi @Nitesh-thapliyal,

Thanks for reaching out with your suggestion. 🙌
At the moment, our product roadmap is focused on helping developers staying up-to-date.
Your suggestion is off-topic so we will not be able to accept it. We're a small team and have to be very focused.

[2021-01-03 09:13] #241 closed

[2021-01-06 14:28] teja463 opened #242 "🐛 BUG: Local issue with the upvote count when canceling an upvote"
## 🐛 Bug Report

### What went wrong? 🤔
Removing the upvote on comments decreases the upvote count by 2 instead of 1

### Expected Behavior
Undoing Upvote should decrease only by 1 point

### Actual Behavior
Undoing Upvote is decreasing by 2 points

### Steps to Reproduce Issue
1. Goto any post which has comments e.g. https://app.daily.dev/posts/o-Gn4rYsa
2. Goto comments section and click on the

[2021-01-06 14:33] idoshamun commented on #242
Hi @teja463,

Thanks for reporting.
I'll look into it as soon as possible!

[2021-01-06 14:47] idoshamun commented on #242
I tried to reproduce this issue but I couldn't.
Whenever I canceled my upvote it decreased the reputation by a single point only.
Could you please try again? It could be that someone else canceled their upvote as well when you checked.

[2021-01-06 14:58] teja463 commented on #242
I just tried in Incognito same behavior. PFA video and chrome network tab har file zip
[app.daily.dev.har.zip](https://github.com/dailydotdev/daily/files/5776434/app.daily.dev.har.zip)

https://user-images.githubusercontent.com/4502488/103782540-97916180-505d-11eb-853a-faaa74949b49.MP4

[2021-01-06 15:08] teja463 commented on #242
@idoshamun tried in incognito, the upvote and cancel upvote count is acting a
[app.daily.dev.har.zip](https://github.com/dailydotdev/daily/files/5776473/app.daily.dev.har.zip)

little off. There is a flickering of count decreased by 2 points and count stays the same. Also just keep playing with the upvote button the count is not consistent. PFA video and zipped har file

https://user-images.github

[2021-01-06 16:09] idoshamun commented on #242
Oh, I thought you mean the reputation points but I get your point now.
It's a local issue something with the optimist UI implementation. Once you refresh it looks OK.
I will fix it soon

[2021-01-06 17:08] #242 closed

[2021-01-06 17:09] idoshamun commented on #242
I fixed the issue. Should be live in a few minutes.
Let me know if this issue persists.

[2021-01-15 18:10] rodrigojmr opened #243 "🐛 BUG: Next pages of bookmarks load inconsistently at higher resolutions"
## 🐛 Bug Report

### What went wrong? 🤔

Because I use a *1440p screen, starting at around 2000px width, bookmarks sometimes don't load the next page. Because of this I was afraid I had lost all my bookmarks, but they showed on my laptop. At 2560px, it almost always does not load.

[Video](https://streamable.com/c7f1da):

### Expected Behavior

For bookmarks to load consistently.

### Actual Behav

[2021-01-16 04:32] wtrungvu commented on #41
I really want this extension to be used on safari

[2021-01-17 09:19] idoshamun commented on #41
Our web version is a few weeks away!
You will be able to use it on Safari and every other browser.

[2021-01-17 09:21] idoshamun commented on #243
Hey @rodrigojmr,

Thanks for reporting this important issue.
Unfortunately, I don't own such a monitor, but I think I know why it happens.
I would need your help in debugging it if that sounds reasonable to you.
I can point you to the exact location of the issue.
Please let me know what you think :)

[2021-01-17 15:58] rodrigojmr commented on #243
Hey @idoshamun, of course! Go ahead.

[2021-01-17 18:55] idoshamun commented on #243
I think the problem here is the positioning of the trigger for the infinite scroll.
You can check the settings here:
https://github.com/dailydotdev/daily-apps/blob/master/packages/extension/src/routes/Home.vue#L877
There are two ways to tackle it:
- Set-up a local environment to debug this issue while tweaking the `bottom` value of the anchor element
- Open Daily's New Tab and navigate to the anch

[2021-01-17 23:05] rodrigojmr commented on #243
I couldn't build the local environment, I had this error on `npx lerna run build`:

[code]

Up until then it was fine. But besides that, I tried tweaking the `bottom` value, and changing to `102%` worked. Had to scroll up and then down, but it's probably because I changed the value after the page loaded. As you can see, it loaded sometimes before changing the value, so it's very weird behavior.

[

[2021-01-18 06:40] idoshamun commented on #243
I searched for this error and some say that it might have something to do with your global or local npmrc file.
https://github.com/sockethub/sockethub/pull/250
Could you please check it? Once we resolve this error it will be easier to debug.
If it won't work I'll send you a zip file with the new value so you can check it.

[2021-01-18 16:52] georahi opened #244 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Issue

### Solution

### Environment

#### Operating System

#### Version of Daily

#### Browser

[2021-01-18 16:54] idoshamun commented on #244
Hi there,

Anything you would like to report? This issue is empty.

[2021-01-18 18:47] rodrigojmr commented on #243
I've looked everywhere for solutions for this npmrc file issue. I've deleted all npmrc files I have, checked the npm local and global config list and they're all default. I don't know if I should report this to lerna or yarn but I can't find anyone else who's had the same issue relating to .npm-init.js on the user folder. This is my current .npm-init.js:

[code]

[2021-01-18 19:37] idoshamun commented on #243
Let's proceed with a zip file. I think it's easier, I don't want to hold you.
The zip file contains the latest version of our Chrome extension.
Unzip it and load it via chrome://extensions/ (remember to enable developer mode).
You can find the `#anchor` css in `css/home.23f199d4.css`.
Once you change the `bottom` property you can just refresh the extension page and it should reload from the filesy

[2021-01-18 19:58] rodrigojmr commented on #243
Unless I'm missing something I don't think the zip file was attached 😅

[2021-01-18 20:00] idoshamun commented on #243
Yap, sorry about that.
[extension-v2.29.0-src.zip](https://github.com/dailydotdev/daily/files/5832169/extension-v2.29.0-src.zip)

[2021-01-18 21:33] rodrigojmr commented on #243
Thanks! So yeah, so far starting at 102vh works very consistently, and higher values,(let's say 110vh, but maybe more) , not having a noticeable difference. Regardless of the value, sometimes if scroll quite fast down, sometimes it will get stuck, but a reload and scrolling slightly slower fixes. I assume this will have something to do with the more intense loading of articles and images in a wide

[2021-01-19 08:46] idoshamun commented on #243
Thanks for checking! I'll test the 102vh setting on smaller screens to see if we can have one unified setting for all screens.
What is exactly getting stuck? Is it the whole application or just the infinite scroll?

[2021-01-19 10:39] rodrigojmr commented on #243
The infinite scroll, yes. It doesn't load more articles and the 3 loading dots don't appear at the bottom.

[2021-01-20 07:02] idoshamun commented on #243
Oh, that's a bummer. Might be something to do with the intersection observer.
I'm actually implementing this for the web app now. So once it will be ready there we can check out how if it works fine there.

[2021-01-20 22:25] idoshamun commented on #243
Could you please let me know how the feed here is working for you?
https://app.daily.dev

[2021-01-21 02:07] rodrigojmr commented on #243
I think the app is working well! In terms of scrolling, it doesn't get stuck. Sometimes it'll load just 9 articles when I switch categories (doesn't seem to do it in 1080p), but that's it.

As a sidenote, I was able to change to WSL and build from the extension's source code as per the instructions, but I don't think I can log in as maybe it requires the Daily Redirector, so I couldn't text the bo

[2021-01-21 12:10] idoshamun commented on #243
That sounds great that it works well! We're planning on using some of the webapp code in the extension because it's much better. So in the long term, you can expect a full solution to your issue and in the short term, I think I'll release a version with the anchor set to `102vh` or even `110vh` whatever works for you better. The 9 articles issue is because there's a bug I guess with the responsive

[2021-01-21 13:04] Kvaibhav01 opened #245 "🐛 BUG: The comment dialog doesn"
## 🐛 Bug Report

### What went wrong? 🤔

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Issue

### Solution

### Environment

#### Operating System

#### Version of Daily

#### Browser

[2021-01-21 13:04] #245 closed

[2021-01-21 13:29] Kvaibhav01 opened #246 "🐛 BUG: Comment dialog box doesn't autofocus when it's opened"
## 🐛 Bug Report

### What went wrong? 🤔

When someone wants to add a comment after opening a post link inside the Daily app, the **comment box should focus automatically** without the user clicking again in order to start typing their comment.

### Expected Behavior

I expect that when I visit the comment section of a post (for example [this one](https://app.daily.dev/posts/Astu8TDsR)) and click o

[2021-01-21 13:37] idoshamun commented on #246
Hey @Kvaibhav01,

Great to see you active here as well! 🥳
As you are already familiar with the solution, I think it will be a great chance to contribute to our repository.
If you are up to the challenge, let me know and I'll provide more details 🙏

[2021-01-21 13:40] Kvaibhav01 commented on #246
Hey, @idoshamun for sure! Let me know how to start and more details. I will look into this later. 😄

[2021-01-21 13:53] idoshamun commented on #246
I see that I already tried to achieve this behavior but I guess something's wrong there.
Here's the exact line where I try to set focus to the element:
https://github.com/dailydotdev/daily-webapp/blob/master/components/modals/NewCommentModal.tsx#L225
We use `div` to make sure it auto grows with the content of the comment.

[2021-01-22 04:55] mshddev opened #247 "🧩 FEATURE REQUEST: Show article tags in the feed"
## Feature Request

### Description
i want to be able to see in which tag is this article belong to.

### Solution
display tag label in article list

### Alternate Solutions

[2021-01-22 07:14] Kvaibhav01 commented on #246
I see that you invoke the `focus()` method on the `HTMLDivElement` but I'm not too sure how this works as I'm unknown to TS syntax. 😢 (Although it's on my radar to learn next).

As you have already applied the feature, does it work on your machine/browser?

[2021-01-22 12:26] esau-morais commented on #247
Actually, this is already possible. Check the image below:

![tags](https://user-images.githubusercontent.com/55207584/105490661-dcd7a500-5c93-11eb-8519-21c63875b4db.png)

[2021-01-22 12:55] esau-morais commented on #246
I don't know why, but when I tried to reproduce this (using the component referenced by @idoshamun) it worked perfectly.

[2021-01-22 14:28] esau-morais opened #248 "🐛 BUG: Missing `title` property on the Web app's post cards"
## 🐛 Bug Report

### What went wrong? 🤔

I was checking some differences between the extension and the web app, and just got to see that the postcards don't have a `title` property on the app.daily.dev

### Expected Behavior

Postcards should have a `title` property to improve the user experience (once it gives a proper title set).

**Note:** _I couldn't take a screenshot, once Windows doesn't hav

[2021-01-23 00:52] mshddev commented on #247
Hi @esau-morais, I see. The tags below the time only appear in the comment section. What i suggest is in the article listing. Wouldn't be great if users can quickly spot which tag is this article belong to? Many news/article website did that. It does help. It just my opinion. Anyway, thanks for responding.

[2021-01-23 12:33] esau-morais commented on #244
It's been almost a week, I think it's better close this one

[2021-01-23 21:32] rodrigojmr commented on #243
Hey, apologies for the delay. I can't say with certainty that notice a difference between `102vh` and `110vh`. Perhaps just go with `110vh`!

[2021-01-24 06:30] idoshamun commented on #243
Ok, perfect. That's what I'll do! Thanks for everything. I'll let you know once it's released.

[2021-01-24 06:30] idoshamun commented on #244
@esau-morais you're right. Thanks :)

[2021-01-24 06:30] #244 closed

[2021-01-24 06:33] idoshamun commented on #247
Hi @mshddev, we used to show the tags of the articles in the cards. Due to some design considerations, we decided to remove it from there. The tags can bloat the card size, and we don't think this information is necessary while scrolling in the feed. I hope that makes sense to you :)

@esau-morais thanks for the help!

[2021-01-24 06:33] #247 closed

[2021-01-24 06:34] idoshamun commented on #248
Hi @esau-morais,

You're right. I'll fix that :)

[2021-01-24 06:37] idoshamun commented on #246
@Kvaibhav01 when I wrote it, it used to work but ever since then, the code has changed a few times. These changes might break this functionality. I'll dig into it.

@esau-morais, could you please explain how you tested it? If you don't experience this issue I would love to know :)

[2021-01-24 06:37] mshddev commented on #247
@idoshamun oke that's understandable. Thanks for the explanation.

[2021-01-24 15:38] #246 closed

[2021-01-24 15:38] idoshamun commented on #246
The issue is now fixed! :)

[2021-01-24 15:48] #248 closed

[2021-01-24 15:50] #148 closed

[2021-01-24 15:50] #92 closed

[2021-01-24 15:51] idoshamun commented on #41
There's a beta version of the webapp which already includes our feed.
https://app.daily.dev/
I'm closing this issue as there is no plan to add a Safari extension, now that there's a web version.
We will slowly roll out all the features.

[2021-01-24 15:51] #41 closed

[2021-01-24 23:49] esau-morais commented on #246
Sorry for the delay, @idoshamun. As you got to see, error was on the reference. I actually did the same and used the `useRef`. But good to know that it's everything working perfectly neo

[2021-01-25 13:43] #243 closed

[2021-01-25 13:52] idoshamun commented on #243
I've published a new version to the store v2.29.1. It should be available soon.
Thank you so much for helping me out on this one 🙏

[2021-01-26 06:34] forybm commented on #41
Recently, I changed my web browser from chrome to safari.
Most of them are satisfied, but I was sad that the daily.dev was not supported.
However, thanks to the recently launched web version, it has been solved a lot.

Thank you 😄

[2021-01-27 00:16] Yar1991 opened #250 "🐛 BUG:"
## 🐛 Bug Report: ranking doesn't work

### What went wrong? 🤔

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Issue

### Solution

### Environment

#### Operating System

#### Version of Daily

#### Browser

[2021-01-27 07:14] idoshamun commented on #250
Hi @Yar1991,

Could you provide more details about your issue?

[2021-01-27 17:19] Yar1991 commented on #250
Hi @idoshamun, I thought I left comments with details, but I don't see them now, sorry. It's weird...
The thing is that the ranking system has stopped working since two days ago. It doesn't count the articles I read anymore. The status doesn't change. I use Chrome, my account is yaroslav.vjugin@gmail.com
When I was taking a screenshot of the console, I reloaded the page two times and it counted up

[2021-01-27 20:01] esau-morais commented on #250
Hey, @Yar1991 👋 Could you please provide your environment details?

[2021-01-27 21:17] Yar1991 commented on #250
Hi @esau-morais, I have no idea what version of daily.dev I use. Where can I check it? I use Windows 10 and Google Chrome. Adblocker is turned off when I use daily.dev if it can affect it anyhow.

[2021-01-27 23:23] esau-morais commented on #250
Go to chrome://extensions and you'll be able to see the daily.dev extension with its information

[2021-01-27 23:55] OlaoluwaM opened #251 "🐛 BUG: GitHub field validation is wrong"
## 🐛 Bug Report

### What went wrong? 🤔
I was trying to enter my github handle but an error was displayed. I wrote just the handle without the @ symbol and still got the same error.
Here is a screenshot of what I am talking about

![image](https://user-images.githubusercontent.com/37044906/106069217-b5377100-60c7-11eb-8b90-59ccbc2abb79.png)

### Expected Behavior
It should allow me save my Github

[2021-01-28 01:41] Yar1991 commented on #250
Thank you. The version is 2.29.1

[2021-01-28 02:13] esau-morais commented on #250
Did you logout after the security policy updating?

[2021-01-28 02:25] Yar1991 commented on #250
I log out maybe once a week. So, I don't remember when that security update was :)

[2021-01-28 07:54] idoshamun commented on #250
Hi @Yar1991,

I will follow up on the email as I would like to share your views data and I don't want to do it here.
Expect an email soon.

@esau-morais thanks for helping out :)

[2021-01-28 07:54] #250 closed

[2021-01-28 08:02] idoshamun commented on #251
Hey!

Thanks for reporting, it's indeed a bug that is caused due to some regex validation we have.
I should change the regex to allow uppercase letters as well.

[2021-01-28 08:31] ftonato opened #252 "🐛 BUG: Post not found (An error occurred with this application)"
## 🐛 Bug Report

### What went wrong? 🤔

I received an email that say `🥢 An article you wrote got picked by daily.dev`, when I click on the "Say hello" button I'm redirect to `https://app.daily.dev/posts/07eBf-nAk`, and when I try to open this link I got the message: **An error occurred with this application**.

### Expected Behavior

After open the URL I should be able to read my own article.

##

[2021-01-28 08:45] idoshamun commented on #252
Hey!

It's a current bug that we have in the system that private posts also matched up to an author.
These posts are originated from private sources that were added by premium users and not by our moderators.
Thus, the rest of the community doesn't have access to these posts.
We should fix this issue of matching private posts with authors. I'm sorry for the trouble.

[2021-01-28 08:45] #252 closed

[2021-01-28 08:46] idoshamun commented on #251
The issue is now fixed :)

[2021-01-28 08:46] #251 closed

[2021-01-28 10:04] OlaoluwaM commented on #251
Thanks

[2021-01-28 10:49] jaloplo opened #253 "🧩 FEATURE REQUEST: Connect multiple social accounts to a daily.dev account"
## Feature Request

### Description

I would like to associate different accounts from several sources (github, gmail, etc.) into a unique dailydotdev account.

### Solution

I would like to add the additional accounts from the profile menu. For example, adding a new tab on the right of "Reputation" menu. The options could be listing the current associated accounts and one button to add some more

[2021-01-29 07:36] idoshamun commented on #253
Hi!

This feature is definitely on our roadmap but we're focused on the web version at the moment so it's not going to be launched in the upcoming weeks.
Shoot us an email at hi@daily.dev so we can resolve your specific issue.
Anyway, I'll leave this issue open to remember we have to add support for multiple accounts.

[2021-01-29 11:35] jaloplo commented on #253
@idoshamun thanks for your response.

This is not an urgent issue from my side so I can wait for the feature to be released ;)

[2021-01-29 11:37] idoshamun commented on #253
Thank you Jaime :)

On Fri, Jan 29, 2021, 13:35 Jaime López <notifications@github.com> wrote:

[2021-02-06 18:43] bachmannn opened #254 "🐛 BUG: Why is my feed full of Faunadb spam?"
## 🐛 Bug Report

Why is my feed full of FaunaDb ads? I don't want to use their services, it is basically SPAM.

Was source added recently? All them posts are old but say "posted recently" in daily dev and now my entire feed is full of FAUNA spam.

### What went wrong? 🤔

Feed is full of fauna spam

### Expected Behavior

Feed should not be full of fauna db spam

### Steps to Reproduce Issue

Look

[2021-02-06 18:52] idoshamun commented on #254
Hey!

I noticed this issue earlier today but didn't have the time to fix it. It's
not a new source but they might changed something in their RSS which
messed things up.
As a temporary solution you can turn off this source by opening the sidebar.

On Sat, Feb 6, 2021, 20:43 E. Bachman <notifications@github.com> wrote:

[2021-02-07 08:22] #254 closed

[2021-02-09 15:10] zvikarp opened #255 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

It's on the website/blog, looks like https://daily.dev/submit-a-story is missing a background...
![image](https://user-images.githubusercontent.com/13397207/107383073-4d3a4f00-6af9-11eb-9482-f5fec39c0081.png)
If I highlight the text I can see it, it is just the same color as the background.
#### Operating System

Windows 10 Home. In dark mode (and that migh

[2021-02-09 15:14] zvikarp commented on #255
I scrolled down more, the highlighted text show correctly, so it is probably not a missing background but a wrong style for the test. I don't have any wired chrome extensions that might be messing with this (and also it happens on firefox too).

![image](https://user-images.githubusercontent.com/13397207/107383723-f2edbe00-6af9-11eb-84ce-59ee69f14c4e.png)

[2021-02-09 16:07] idoshamun commented on #255
Hey @zvikarp,

Thanks for letting us know.
We've already fixed it :)

[2021-02-09 16:07] #255 closed

[2021-02-16 13:30] Kvaibhav01 opened #256 "🧩 FEATURE REQUEST: Edit comments and flag content"
## Feature Request

### Description

I would like to request two updates to the current post pages:

1. **Adding an Edit ✏️ feature to comments**: When we comment on a post, we are not able to edit that comment. This will be helpful so that someone can correct false information or someone who just wants to edit a word or two.

2. **Having a Flag 🏳 for each post**: If for some reason a user sees th

[2021-02-16 16:53] idoshamun commented on #256
Hey @Kvaibhav01,

Thanks for sharing your excellent ideas with us :)
I believe we should add them both to our backlog, but we are very busy adding the existing extension features to the webapp so hopefully, we can do it in between but it will take time. I will appreciate your patience.

In the meantime, if you encounter low-quality content report it as broken or NSFW and leave a comment that it's

[2021-02-16 18:13] ylcnfrht opened #257 "🐛 BUG: earned popup is open every time"
## 🐛 Bug Report

earned popup came every time even I choose **NEVER SHOW THIS POPUP AGAIN**

<img width="314" alt="Screen Shot 2021-02-16 at 21 12 24" src="https://user-images.githubusercontent.com/22433665/108103937-aecf6000-709b-11eb-85bf-5328d7ca7a85.png">

#### Browser
Chrome

[2021-02-17 10:37] idoshamun commented on #257
Hey @ylcnfrht!

Sorry for the trouble.
Did you click on the "Awesome!" button? Unless you click on it, this popup will stay on.
Please let me know so I can assist you further.

[2021-02-17 13:06] dhruv479 commented on #201
Hey @idoshamun Can I pick up this task?

[2021-02-17 13:07] dhruv479 commented on #201
I looked into this issue, the images are generally cached very well in the memory, do we need to store the placeholder is assets and use that as the fallback ?

[2021-02-17 13:14] idoshamun commented on #201
Yap exactly! @dhruv479 you can go ahead. I'll assign it to you.
Thank you so much :)

[2021-02-19 16:18] #201 closed

[2021-02-21 08:28] idoshamun commented on #257
I'm closing this issue due to the long inactivity time...

[2021-02-21 08:28] #257 closed

[2021-02-24 04:06] AvinashKo opened #259 "🧩 FEATURE REQUEST: Need more options in do not disturb"
## Feature Request

Need one more option 8hours in do not disturb options. 1 hours is low and 1 day is high. 8 hours is right amount of time, so during office hours I can keep it in DND. I do spend some time in screen-sharing to business people, clicking on new tab opening a blog confuses during presentations.

### Description

### Solution

Add 8-hours option in Do-Not-Disturb dropdown.

### Alte

[2021-02-24 12:54] idoshamun commented on #259
Hey @AvinashKo,

That's a great idea and actually should be pretty straightforward to implement.
Would you like to give it a try? I can guide you through the process.

[2021-02-24 13:32] AvinashKo commented on #259
Hello, let me install the app locally, I would like to give it a try, will
spend some time over the weekend. Thank you.

On Wed, Feb 24, 2021 at 6:54 AM Ido Shamun <notifications@github.com> wrote:

[2021-02-27 17:28] cagdas001 opened #260 "🐛 BUG: Daily prevents navigation to another address"
## 🐛 Bug Report

### What went wrong? 🤔

When I open a new tab (Ctrl + T), and navigate to an address in a short time (without waiting Daily to initialize its landing page), Daily prevents me to go to this address. If Daily gets initialized before the intended address is loaded, it stops the navigation.

Unfortunately, I ended up disabling the extension because it happens a lot on a daily basis.

[2021-02-27 17:35] cagdas001 commented on #260
Some more info that might be helpful for debugging. I also tried Do Not Disturb mode. It didn't solve the issue. I guess you're still loading the extension to check if user enabled the DND mode, so the extension is still being loaded on new tabs. I think there might be something possibly wrong at the extension initialization logic

[2021-02-28 08:53] idoshamun commented on #260
Hey @cagdas001,

That's a shame! Sorry for this experience.
In the meantime, may I suggest you try out our webapp? https://app.daily.dev
It doesn't provide all the extension features but it's very advanced and has mobile support.

I'll do my best to try and solve this issue. Could you please share your PC spec?
I'm not able to reproduce this behavior on my laptop.

[2021-02-28 11:42] cagdas001 commented on #260
Hey @idoshamun,

Information about the PC and browser is included in the description

I'll try to take a screencast when it happens again, for you to understand the issue

[2021-02-28 11:57] idoshamun commented on #260
Sorry for not mentioning it earlier, but I mean the hardware specifications. CPU, Memory, resolution, display size. Any other information that you think might help will be appreciated.

[2021-02-28 16:36] cagdas001 commented on #260
Here I created a minimal ExpressJS server responding after 5 secs. It also listens & logs specific keyboard events I'm using for opening tabs & navigating so you can make sure I'm following a valid key sequence

https://user-images.githubusercontent.com/28513447/109424900-e83a9080-79f6-11eb-8b4c-bd642a93fd16.mp4

Server implementation for reference:
[code]

[2021-02-28 19:37] idoshamun commented on #260
Wow! This is super weird. I'll look into it.

[2021-03-02 08:26] idoshamun commented on #260
Again even using your provided server I can't reproduce.
Could you please share your CPU and memory?

[2021-03-02 09:15] prateek-aher opened #261 "🐛 BUG: Not accepting GitHub username with hyphen"
## 🐛 Bug Report: Not accepting Github username

### What went wrong? 🤔
It is not accepting my Github username i.e,
prateek-aher
![image](https://user-images.githubusercontent.com/47930146/109625309-2e156700-7b65-11eb-95bf-b9a215b762f0.png)

There's no mistake in it, see here
![image](https://user-images.githubusercontent.com/47930146/109625619-8c424a00-7b65-11eb-9837-aa454f82c46b.png)

#### Operat

[2021-03-02 11:02] idoshamun commented on #261
Hey @prateek-aher!

Sorry for this issue. I'll fix it immediately.

[2021-03-02 11:14] idoshamun commented on #261
It should be fine now.
Please check again and let me know.

[2021-03-02 20:32] prateek-aher commented on #261
Thanks @idoshamun
It worked.

[2021-03-02 20:32] #261 closed

[2021-03-05 07:38] hamatoyogi opened #262 "🧩 FEATURE REQUEST: Indication for Video link"
## Feature Request

### Description

I would like to request having a way to know if a link is a video.

### Solution

What I had in mind was something like a banner, sash, tag, icon, or something of sorts to indicate a link like this is a video.

### Alternate Solutions

[2021-03-05 11:34] idoshamun commented on #262
Hey!

Nice to see you here as well :)
I don't have an estimation for delivery but let's leave it open so I can keep you posted on the progress.

[2021-03-05 15:32] krishna-kb opened #263 "🧩 FEATURE REQUEST: Need an 'Open in background' option for opening the article in the background tab."
## Feature Request

### Description
"Open in background" option will open the link in the background tab. Basically simulate "Cmd+Click".
This will help in the use case when user is looking for articles to read and just wants to open multiple articles at once which can be read one by one.

### Solution
UX which I have in mind.
- This option will only be enabled when the existing "Open in new tab"

[2021-03-07 09:19] idoshamun commented on #263
Hey!

Unfortunately, the browser doesn't allow to set this behavior. If you want to open a new tab in the background you have to use the middle mouse button or cmd + click.

[2021-03-07 09:19] #263 closed

[2021-03-09 11:04] yanir21 commented on #262
Hi, I'd Like to work on this issue.
Can I get a design specification of some sort?
My idea was a video icon on the bottom-right corner of the image

[2021-03-10 11:08] idoshamun commented on #262
Hey @yanir21,

We would love to have you contributing to this one.
Unfortunately, our backend is not ready for such a feature.
We have to add the ability to detect such content in our scraper and then save it to the DB and propagate downstream through our API.
I will raise this issue in our next product planning and we'll continue from there. It might take a while but we would love your contributi

[2021-03-11 18:18] ovirex opened #264 "🧩 FEATURE REQUEST: Option to change the homepage"
## Feature Request

### Description
I would like to be able to choose whether I want daily.dev to be my new homepage or not. It's quite annoying that by having the daily.dev extension you have to compromise your homepage.

### Solution
An option in the settings that allows you to choose whether you want daily.dev to be your new home page.

### Alternate Solutions

[2021-03-11 20:18] idoshamun commented on #264
Hi,

The browser doesn't provide this API, and this is exactly why we created our brand new webapp.
Try it out, it has mobile support as well.
https://app.daily.dev/

[2021-03-11 20:18] #264 closed

[2021-03-11 20:19] idoshamun commented on #264
Hi,

The browser doesn't provide this API, and this is exactly why we created our brand new webapp.
Try it out, it has mobile support as well.
https://app.daily.dev/

[2021-03-17 02:33] cagdas001 commented on #260
I guess this is not an issue with the extension. After investigating a bit more, I realized that it's also happening when the extension is disabled. So it should be an issue with the browser instead

Sorry for inconvenience

[2021-03-17 02:33] #260 closed

[2021-03-17 07:11] hamatoyogi commented on #262
Wouldn't mind collaborating on this @yanir21 if needed 😀

[2021-03-17 17:52] idoshamun commented on #260
No worries. Thanks for the update ☺️

[2021-03-27 01:52] rafifos opened #268 "🐛 BUG: Unable to login in Firefox Nightly"
## 🐛 Bug Report

### What went wrong? 🤔

I'm unable to login with both GitHub and Google OAuth providers.

### Expected Behavior

After selecting any of the OAuth providers, the extension should log-in my user succesfully.

### Actual Behavior

When opening the network requests, everything seems good (`https://api.daily.dev/v1/auth/authorize` sends a 307, then redirects to `https://github.com/logi

[2021-03-27 04:13] rafifos commented on #268
Turns out it was an issue with Firefox's FPI.

[2021-03-27 04:13] #268 closed

[2021-03-29 06:16] idoshamun commented on #268
I'm glad to hear it was fixed 🥳
Enjoy daily.dev!

[2021-03-29 10:06] LewisAlderman opened #269 "🧩 FEATURE REQUEST: Export/Import user's sources"
### Description

Moving between machines/browsers are reassigning your ignored sources is a bother atm, and not exactly 'portable'.

Suggestion:
Ability to export/import users defined sources, much like browser bookmarks!

### Solution

Export and import a parsable text file format (looks like MacOS chrome uses HTML, for example).

[2021-03-29 10:24] idoshamun commented on #269
Hey @LewisAlderman,

There is no way to import or export user sources but they are synced once you log in.
If you don't have a daily.dev account yet, make sure to register, set your preferences, and then it will be automatically synced everywhere you go.
We recently launched a web app that is also synced with your personal preferences.
https://app.daily.dev

Let me know if it fits your needs 🙏

[2021-03-29 12:50] #269 closed

[2021-03-29 12:55] LewisAlderman commented on #269
@idoshamun thanks! yes I hadn't noticed since! I only signed up _after_ switching between browser/machine a few times.

Perhaps this _could_ still prove useful as a "quality-of-life" feature, for instance, when recommending Daily.dev to a colleague, whom you are a aware is only interested in similar subjects, and you can quickly share your list with them - or even on social media! 👌

[2021-03-29 18:49] idoshamun commented on #269
Indeed this could be useful.
We can make the feed itself shareable and then colleagues may apply the same settings to their feed.

Thank you for the suggestion! 💪

[2021-04-01 07:08] Srini-B opened #270 "🐛 BUG: extension logs out on browser close"
## 🐛 Bug Report

### What went wrong? 🤔

Whenever I close the browser and open it again, I'm in a logged-out state, using it on ms edge dev ver 91.0.838.3. Used extensions from ms edge store and also from chrome store, same result

### Expected Behavior

Stay logged in as in chrome, no issues here

### Actual Behavior

Stay logged in

### Steps to Reproduce Issue

try it in the new edge version

#

[2021-04-01 08:40] idoshamun commented on #270
Hey @Srini-B,

Thanks for using daily.dev ✨
Do you have any cookie blockers of sorts that could interfere with our authentication system?
If not, could you please try to login into our web app and let me know if you experience the same issue.
https://app.daily.dev

[2021-04-01 08:44] Srini-B commented on #270
I use adguard ad blocker windows app v7.5.3, which works only on websites, but that doesn't seem to affect chrome. I'll try the web app and report

[2021-04-02 02:49] Srini-B commented on #270
same output for web app, log-out issue

[2021-04-02 11:27] idoshamun commented on #270
This might be an issue with one of the extensions you have I guess that blocks our cookie.
Can you try to disable them?

[2021-04-03 02:02] Srini-B commented on #270
seems to be issue only on windows, works fine on mac ill try disabling one by one

[2021-04-03 09:18] idoshamun commented on #270
Ok, please share your finding so we can test it locally as well. 🙏

[2021-04-05 07:47] Srini-B commented on #270
Turning off destroy 3rd party cookies saved the day.

[2021-04-05 07:47] #270 closed

[2021-04-05 07:50] idoshamun commented on #270
That's great!
I'm not sure why it's treated as a 3rd party cookie. It should be 1st part cookie 🤔
But I'm glad to hear it works for you

[2021-04-07 12:56] RajvirSingh1313 opened #271 "🧩 FEATURE REQUEST: Github feed"
## Feature Request
I recently started using daily.dev and as I am a developer I mostly use Github for all of my work and so I am very use to daily dev's news feed and Github's feed so I think what about having a section just right of the news in the daily.dev about Github feed which will contain Trending, Personal, etc.

I made an image for better understanding:-
![pr_for_dailydev](https://user-im

[2021-04-08 08:58] idoshamun commented on #271
Hey @RajvirSingh1313,

Thanks for the suggestion and for dedicating the time to create this mock-up. Which is super by the way!
Unfortunately, this feature is not part of our roadmap. We are focusing on delivering better and more relevant content, along with more community features.

[2021-04-08 08:58] #271 closed

[2021-04-08 11:18] RajvirSingh1313 commented on #271
No problem bro

[2021-04-15 02:35] enkeli opened #272 "🧩 FEATURE REQUEST:"
## Feature Request

### Description

I would like to have a dismiss button for every post, similar to the "Hide this post" action inside the top right menu of every post, but more accessible for faster posts dismissal after reading the post title.

### Solution

Just adding a hide post button alongside the post menu button in the top right corner of each post item.

![Screen Shot 2021-04-14 at 7 3

[2021-04-15 03:18] Khalidxx commented on #135
@idoshamun you don't have to fetch and display local bookmarks. An alternative would be to leave the bookmark bar as it is. Currently, the bookmark bar disappears and is replaced by daily.dev content. This happens specifically for Chrome. In Firefox, the bookmark bar is visible alongside the daily.dev content. Can we have the same for Chrome as well?

[2021-04-16 06:35] idoshamun commented on #135
Hey @Khalidxx,

Unfortunately, this is not possible. We do not control the bookmark bar whatsoever.
Chrome's behavior is a bit weird in this case and we can't do a thing about it.
We did try because many users asked for it but no solution.

[2021-04-16 08:54] Khalidxx commented on #135
Oh that's too bad. Well, thanks for you reply! 🙏

[2021-04-18 17:16] idoshamun commented on #272
Hey @enkeli,

Thanks for the suggestion and for putting effort into creating this screenshot.
We plan to add configuration options for the card, which can definitely be one option.
I'll keep you posted on the progress. It might take a little while.

[2021-04-26 17:47] mjgardner opened #276 "🐛 BUG: Claimed articles not displaying on profile"
## 🐛 Bug Report

### What went wrong? 🤔

I have written [several articles on dev.to](https://dev.to/mjgardner) and [DZone](https://dzone.com/users/4518905/mjgardner.html) appearing on my daily.dev feed page, but they are not being picked up as being authored by me despite having followed the instructions and adding [my Twitter handle](https://twitter.com/markjgardner) to [my daily.dev profile](htt

[2021-04-27 06:41] idoshamun commented on #276
Hey @mjgardner!

The issue is now fixed :)
Sorry for that

[2021-04-27 14:16] mjgardner commented on #276
Really? I don't see the articles on [my profile page](https://app.daily.dev/mjg).

<img width="647" alt="Screen Shot 2021-04-27 at 9 14 43 AM" src="https://user-images.githubusercontent.com/133483/116256784-1effff00-a739-11eb-98e5-8bfa9b3c3b29.png">

[2021-04-27 14:22] idoshamun commented on #276
Oh, I thought you meant these two.
Could you please refer me to the other articles on daily.dev that you wrote?

[2021-04-27 14:28] mjgardner commented on #276
- [The Perl Debugger Can Be Your Superpower](https://api.daily.dev/r/9k0OLNxEV)
- [Better Perl: Using map and grep](https://api.daily.dev/r/2iGwzlauG)
- [Video for Better Perl: Subroutine Signatures and Type Validation](https://api.daily.dev/r/JTf1iGByp)
- [Perl and XML in 2021: A Few Lessons Learned](https://api.daily.dev/r/PmtP5ULiY)
- [The Attraction of Test::Fatal in Perl](https://api.daily.de

[2021-04-29 18:29] idoshamun commented on #276
Please check again :)

[2021-04-29 18:31] mjgardner commented on #276
Thanks. This will continue to be updated OK as I publish more?

[2021-04-29 18:39] idoshamun commented on #276
It should. And if not please let us know.

[2021-04-29 18:39] #276 closed

[2021-05-02 14:27] rendler-denis opened #277 "🧩 FEATURE REQUEST: Sign-up with private email address"
## Feature Request
As a user I would like to be able to sign-up using a specific email address which allows me to maintain my privacy, but still be a member of the community.

### Description

I am using this browser extension for a few months now and I like it. I found useful articles and I would love to sign up. Unfortunately, at this time the only two sign-up options are Github or Google. Singl

[2021-05-03 13:56] idoshamun commented on #277
Hey @rendler-denis!

Currently, we do not support a direct sign-up via email. Using third-party logins helps us to prevent abuse on our platform.
I do understand your point and I would like to say that we require only the necessary permissions from both GitHub and Google. And we don't use these permissions besides the registration to extract your name, email, and image.
I hope it makes sense to yo

[2021-05-05 08:39] #277 closed

[2021-05-06 00:59] omothm opened #279 "🧩 FEATURE REQUEST: Match browser color theme"
## Feature Request

### Description

I would like to have the option to set the color theme to match the browser's (or maybe the system's) color theme. When the browser changes to a light theme, the new tab page changes to a light theme. When the browser changes to a dark theme, the new tab page follows as well.

### Solution

Instead of the "Light Theme" switch under Preferences, a dropdown with

[2021-05-06 06:09] idoshamun commented on #279
Hey @omothm,

Thanks for this great suggestion.
We will consider it in our next product planning meeting :)

[2021-05-06 09:27] idoshamun commented on #256
We just released more flagging options!
Check out the release notes and make sure to update your extension to the latest version (not available on FF yet) or use the web app.
https://changelog.daily.dev/new-reporting-options-194205

[2021-05-06 16:18] idoshamun commented on #256
And now you can also edit comments as well :)

[2021-05-06 16:18] #256 closed

[2021-05-06 17:09] Kvaibhav01 commented on #256
Thanks @idoshamun it works perfectly!

A little change of button label from "Edit" to "Update" or "Update comment" will be helpful as when someone has updated the commend then he sees that "Edit" is written on the button, it might sound confusing as to what will happen when we click on the button; will the comment will update or will it goes back to the edit mode.

<img width="100" alt="Screenshot

[2021-05-07 07:54] idoshamun commented on #256
@Kvaibhav01 that makes perfect sense.
I update the text to "Update". Thanks :)

[2021-05-07 20:09] bachmannn opened #280 "🧩 FEATURE REQUEST: Stop logging IP Address, Location and System Information in third-party services with "Opt Out" feature"
## Feature Request

The extension is using a lot of third-party services that are known to hijack and log alot of personal data. They do this without your username to bypass "GDPR", refuse to delete or give you a copy. This goes against everything the community stands for.

### Description

Example of Invasive trackers in this extension like:

Cloudinary:
* When DNS requests are sent to fetch imag

[2021-05-09 09:10] idoshamun commented on #280
Hey @bachmannn,

Thanks for raising your concerns, privacy is very important for us.
I would like to address them one by one and to provide you with the relevant information.

1. Cloudinary - We will reach out to Cloudinary to understand exactly what data they store about our community. Cloudinary makes their money from selling services not data so I don't think this should be a problem. Also, I w

[2021-05-10 07:57] sshanzel commented on #103
I can work on this if it is still free for grabs! 😁

[2021-05-10 08:18] idoshamun commented on #103
Hey @sshanzel,

Long time :)
We are now in a process of merging together the codebase of the webapp and the extension.
Once we finish this process it should be easier to contribute and we will be open to contributions again.

Thanks for the will to contribute. It's highly appreciated :)

[2021-05-10 08:20] sshanzel commented on #103
Been a long time indeed!

Oh, I see. That sounds amazing! I shall wait for it to finish then. You can expect me in front of the line for sure!

[2021-05-10 08:24] idoshamun commented on #103
Wow! I would love to see you on the front line.
Thanks for being awesome.

[2021-05-13 14:43] ach5910 opened #281 "🧩 FEATURE REQUEST: Import Bookmarks"
## Feature Request

### Description

I would like to import my books marks from Medium into daily dev.

### Solution

In my profile I should be allowed to link accounts from other blog/article platforms, like Medium, via Oauth and allow permission for daily dev to read my books marks and import them.

### Benefit

Daily dev is already a hub for curated content across different platforms but accoun

[2021-05-13 15:06] idoshamun commented on #281
Hey @ach5910,

This is a great suggestion.
Unfortunately, at the moment we have technical issues with bookmarking articles that are not part of our feed. And obviously, we cannot let every article that someone bookmarked get into the feed. We have strict criteria on what's going into the feed to keep the quality level.
Of course, it doesn't mean that it is a "no go" but just means that it might ta

[2021-05-18 17:43] DanielRios549 opened #282 "🧩 FEATURE REQUEST: Show the page as a new tab content on Firefox"
## Feature Request

I would like an option to show a new tab content for the default Firefox new tab instead of replacing it completely.

### Description

An option to activate the daily.app on the Firefox Home Content section, to show daily.app when the users scroll the page. This will the user still using the default new tab with its shortcuts, but additionally the news from daily.app when they

[2021-05-19 05:45] idoshamun commented on #280
I'm closing this issue as I didn't get any response for 10 days. I can reopen in case it changes.

[2021-05-19 05:45] #280 closed

[2021-05-19 05:47] idoshamun commented on #282
Hello @DanielRios549,

Is this Firefox Home Content section a thing? I'm not aware of it.
Is there an API to modify this section?

[2021-05-20 13:19] ach5910 opened #283 "🧩 FEATURE REQUEST: Filter by read"
## Feature Request

Read articles should be optionally filtered out of my feed.

### Description

I would like to have the ability to update my default settings to filter out any article/blog post that I've already read from my feed. This would prevent me from scrolling through content that I've already read whenever returning to the app.

### Solution

Use the same logic used to conditionally ren

[2021-05-20 14:00] idoshamun commented on #283
Hey @ach5910,

Thanks for yet another great suggestion!
Do you
 know why it's great? Because it already exists! 🔥
Open the settings panel in the web app or the extension and hit the toggle button. You need a daily.dev account to enable this setting, and it will automatically be synced to all your devices.
<img width="1904" alt="Screen Shot 2021-05-20 at 16 52 58" src="https://user-images.githubuse

[2021-05-20 14:00] #283 closed

[2021-05-24 20:47] Showrin opened #284 "🐛 BUG: User's Social info is not updated correctly while switching between users"
## 🐛 Bug Report

### What went wrong? 🤔

I clicked on the writer's info in a blog. Then it took me to his profile. That time I clicked on my profile image (top-right of the browser). The info on that page was replaced by mine but the contact info (Twitter, Github, websites) didn't change. It's still showing the values of the previous user (writer's). When I reload the page, then it got updated.

H

[2021-05-25 01:46] KiliMcgee opened #327 "Bug: Profile Page - Heatmap Year Selection"
On the profile page, there's a bug that causes the app to crash when attempting to set the calendar year to anything other than the default option of "Last year". In order to reproduce this error, choose any of the options from the calendar dropdown as shown in the screenshot below.

<img width="625" alt="Screen Shot 2021-05-24 at 9 43 43 PM" src="https://user-images.githubusercontent.com/35938628

[2021-05-25 07:07] idoshamun opened #285 "🐛 BUG: iOS grabber obscures the bottom navigation bar"
## 🐛 Bug Report

### What went wrong? 🤔

Once the web app is saved to the home screen on iOS the grabber line obscures the bottom navigation bar.
See screenshot below.

#### Operating System

iOS

#### Version of Daily

Webapp

#### Browser

Mobile Safari

![image](https://user-images.githubusercontent.com/1993245/119453946-a04eaf80-bd40-11eb-8f70-3817bfd2b9ba.png)

[2021-05-25 07:13] idoshamun commented on #284
Hey @Showrin,

Thanks for reporting this issue!
I know what might cause this issue and I'll look into it.

[2021-05-25 16:51] matiasvlevi opened #286 "🐛 BUG: Code blocks have an extra line."
## 🐛 Bug Report

### What went wrong? 🤔

`<pre>` elements have an extra line in https://daily.dev/blog articles.
This is especially irritating when we have 1 line code blocks.

### Expected Behavior

![Expected](https://i.ibb.co/gyTs98j/expetced.png)

### Actual Behavior

![Actual](https://i.ibb.co/DLNNfRJ/actual.png)

### Steps to Reproduce Issue

Present on every https://daily.dev/blog post with

[2021-05-26 07:43] idoshamun commented on #286
Thanks for the report. We will check it out as soon as possible.

[2021-05-26 07:44] #282 closed

[2021-05-27 15:53] idoshamun commented on #272
@pollmix thanks for the clarification. I get the point :)
I'll raise this issue in our next product meeting.

[2021-05-27 17:15] pollmix commented on #272
@idoshamun Thanks for your consideration.

[2021-05-31 09:13] akshat31 opened #287 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

I am getting two is with same email, its backend issue must be, that email id which is affected with bug is **akshat.soni31@gmail.com**

### Expected Behavior

whom ever i login either google or github if email ID is same in that both same account should have open

### Actual Behavior

it is opening and creating two different account with same email ID

###

[2021-05-31 10:04] idoshamun commented on #287
Hey @akshat31,

I followed up on your email, let's keep it going there and help you resolve the issue.
It's more appropriate in terms of privacy and security.

[2021-05-31 10:04] #287 closed

[2021-06-01 05:52] hamed4000 opened #288 "all my bookmarked article vanished🐛 BUG:"
after login with google account and sync all my bookmarked article vanished

[2021-06-01 05:57] idoshamun commented on #288
Hey!

Sorry for this trouble, let's try to fix it together.
After hitting the sync button and registering, did you the sync completed popup?
Do you use Chrome or Firefox?

[2021-06-01 11:11] hamed4000 commented on #288
I use Chrome
Nothing happens after the loading sync is over, I mean completed popup weren't displayed

[2021-06-01 11:15] idoshamun commented on #288
Could you please try again? I fixed several bugs in this matter.

[2021-06-01 11:34] hamed4000 commented on #288
now sync completed popup displayed, but some of my bookmark is back (last 25), Is there a special reason from me?

[2021-06-01 11:57] idoshamun commented on #288
Perfect! What do you mean some of your bookmarks are back?

[2021-06-01 12:18] hamed4000 commented on #288
Only 25 articles from bookmarks returned, which are also old, which can be said that there are no newest bookmarks

_"sorry about my english writing"_

[2021-06-01 12:27] idoshamun commented on #288
How many bookmarks you had originally?

[2021-06-01 12:33] hamed4000 commented on #288
I use this extensions more then 4,5 month, so I think more then 25, I guess more then 100

[2021-06-01 12:35] idoshamun commented on #288
Oh wow! That's a lot... I don't know why this happened.
We did delete some posts that were reported or contained broken links that might explain the difference.
Anyway, now with your new account everything will be saved in our database and will be synced across the different devices you use. Please let me know what you think...

[2021-06-01 12:43] hamed4000 commented on #288
this is useful extensions I really into it,  Way to go!

[2021-06-01 12:44] idoshamun commented on #288
Thank you! Can we close this issue or do you have anything else in mind?

[2021-06-01 12:46] hamed4000 commented on #288
of course

[2021-06-01 12:48] #288 closed

[2021-06-02 14:33] omBratteng opened #289 "🐛 BUG: not loading more than 5 rows (4 full + 2 articles) in web app or extension"
## 🐛 Bug Report

### What went wrong? 🤔
It doesn't load more than 4 full rows + one row with two articles. The amount of articles loaded on each row depends on screen size.
And scrolling to the bottom does not load more articles.
This happens on the web app and extension, but not the PWA app in Chrome.
Works fine in Safari, but not Firefox

### Expected Behavior
It should load more articles once y

[2021-06-02 14:53] idoshamun commented on #289
Hey @omBratteng,

Thanks for the report. Can you please share your screen resolution?
And if possible please try again in the web app. I recently fixed (or possibly screwed) something that has to do with the infinite scroll.

[2021-06-02 15:05] omBratteng commented on #289
@idoshamun
This is from web app, just now it loaded a few mor articles on the bottom row, so it's 5 complete rows.
![image](https://user-images.githubusercontent.com/1681525/120504309-51e68400-c3c4-11eb-9863-e19f1870b254.png)

But the extension still only loads 4 rows + 2 articles (couldn't take one whole screenshot)
![image](https://user-images.githubusercontent.com/1681525/120504531-82c6b900-c3c

[2021-06-02 15:06] omBratteng commented on #289
From PWA, it loads too quickly for be able to take a screenshot of it before it loads the rest.
![image](https://user-images.githubusercontent.com/1681525/120504791-b73a7500-c3c4-11eb-8186-eb523965b528.png)
![image](https://user-images.githubusercontent.com/1681525/120504916-cfaa8f80-c3c4-11eb-8693-59b008a38418.png)

[2021-06-02 15:23] idoshamun commented on #289
I just deployed a change in the infinite scroll for high res monitors like yours.
Can you try again? Please check both in the web app and PWA. There's no need for the extension as I need to release a version once we confirm this is resolved.

[2021-06-02 15:31] omBratteng commented on #289
Looks to be working in both web app and PWA. Can confirm it also works now in Firefox, and still works in Safari 😄

[2021-06-02 15:34] idoshamun commented on #289
Sweet! This calls for a new release. v3.0.2 here we come :)
Thanks for all the help 🙏

[2021-06-02 15:44] idoshamun commented on #289
I submitted v3.0.2 to the stores. Hopefully, it will be approved soon :)

[2021-06-02 15:44] #289 closed

[2021-06-02 15:54] omBratteng commented on #289
I'll keep an eye out for it

[2021-06-02 16:15] omBratteng commented on #289
`3.0.2` is released, and it's fixed in the extension 🎉

[2021-06-02 16:17] idoshamun commented on #289
Woohoo!!!

On Wed, Jun 2, 2021, 19:16 Ole-Martin Bratteng ***@***.***>
wrote:

[2021-06-03 05:54] rafaelmaiach opened #290 "Discord Bot"
Is it possible to use this API just to consume and post the news on a Discord Server?

[2021-06-05 16:23] liorp opened #291 "🐛 BUG: The PWA does not display main content sometimes"
## 🐛 Bug Report
### The PWA on iPhone does not display main content sometimes

### What went wrong? 🤔
Opening the PWA sometimes results in an empty content screen:
![IMG_8F8DD5D49196-1](https://user-images.githubusercontent.com/4294489/120898359-30d79a80-c633-11eb-9b70-09753f9b3c31.jpeg)

### Expected Behavior
The content should be visible.

### Actual Behavior
The content is not visible.

### Ste

[2021-06-06 06:02] idoshamun commented on #291
Hey @liorp,

Thanks for this report.
I have to try to reproduce this issue to see how it can be solved.
If you have any more information to share it would be great. 🙏

[2021-06-10 08:19] #284 closed

[2021-06-11 12:17] Isaac-the-Man opened #292 "🧩 FEATURE REQUEST: Add an option to disable daily.dev as the home screen."
## Feature Request

Add an option to disable daily.dev as the home screen.

### Description

It would be great if there's a way to disable daily.dev as the default home screen of my browser. Most of the time I prefer the default chrome UI when I open a new tab. I can then choose to browse daily.dev manually by clicking the extension icon.

### Solution

An enable/disable switch in the setting page

[2021-06-12 17:34] rini94 commented on #292
@Isaac-the-Man There's the web app for this reason. It's in the beta stage, I believe. The link to the web app is at the bottom of their website.

[2021-06-13 03:58] Isaac-the-Man commented on #292
@rini94 thanks for pointing that out. However, it'll be much easier if I can just click on the extension icon to access the webapp instead of going to their webapp via the url. This way I won't need to uninstall the extension too.

[2021-06-13 04:56] idoshamun commented on #292
Hey @Isaac-the-Man, you can turn on the Do Not Disturb mode if you want to keep the extension but disable the new tab functionality.

Thanks @rini94 for helping us out here :)

[2021-06-13 05:50] Isaac-the-Man commented on #292
@idoshamun thanks that is exactly what I needed! The name "Do Not Disturb" seems kind of counter-intuitive though.

[2021-06-13 05:55] idoshamun commented on #292
Sweet! Glad I could help.
Any other name comes to mind when you think about this feature?
Originally it was named by the one who requested this feature just like you.

[2021-06-14 07:27] #292 closed

[2021-06-17 19:49] DefCon-007 opened #293 "🧩 FEATURE REQUEST: Listing all the read articles in a single place"
## Feature Request

### Description

I would like to have a place where I can see all the articles I have read till now.

#### Need
Most of the times when we are working on something we realise that we read something related somewhere before but we tend to forget from where, since daily.dev has now become a defacto place for me to read development related news, it would be great to have all the re

[2021-06-20 13:29] idoshamun opened #295 "Advanced search options"
### Discussed in https://github.com/dailydotdev/daily/discussions/294

<div type='discussions-op-text'>

<sup>Originally posted by **JeremyJaydan** June 19, 2021</sup>
Some search options similar to Google search could be neat:

- source: \<source url\>
- before: \<date\>
- after: \<date\>
- #\<tag\>
- "\<exact phrase\>"
- -excludeword</div>

[2021-06-20 13:32] idoshamun commented on #293
Hey @DefCon-007,

That's a great idea. I love it.
I'll raise it to vote in the next product planning!

[2021-06-21 13:23] cikupin opened #296 "🧩 FEATURE REQUEST: Add unfollow button on blog list sidebar"
## Feature Request

Add unfollow button on blog list sidebar

### Description

Hi daily team,

Currently I have an issue with daily.dev blog source in the sidebar. Whenever I click blog source title, it will unfollow blog from my list. So that to see blog post list I have to click the arrow next to it.

<img width="432" alt="Screen Shot 2021-06-21 at 17 58 59 2" src="https://user-images.githubuser

[2021-06-21 15:34] idoshamun commented on #296
Hey @cikupin,

This is a great suggestion. You know why? Because we've just finished a product planning for the upcoming two weeks or so and it's part of it!
Hang tight till we ship it :)

[2021-06-21 16:04] idoshamun opened #297 "Add content guidelines link in the request source popup"
We want to add a link to our [content guidelines](https://daily.dev/support/content-guidelines) before a user submits a source request. This will provide users a better understanding of what the process is and what content we allow, and what not.

![feature design](https://user-images.githubusercontent.com/1993245/122792420-d4c37600-d2c2-11eb-8dfa-a9a2a3dc6c03.png)

How to get started?
* This issu

[2021-06-21 16:13] idoshamun commented on #216
We have recently released version 3.0. @Dhruv-Garg79 can you please confirm that your issue persists?

[2021-06-21 16:16] idoshamun commented on #103
@sshanzel the merge was completed and we're ready to accept contributions once more.
If you still want to grab it let me know.

Here's the Sketch Cloud project with the design ready for implementation (we moved from inVision):
https://www.sketch.com/s/2549ccf9-b98c-413f-96fb-81b05b59e65f/a/PGW997P

We have also a new project for the extension and the webapp. You can find it here:
https://github.co

[2021-06-21 16:23] idoshamun opened #298 "Make the article title clickable on the article page"
We want to turn the title on the article page into a clickable anchor element that navigates to the article.
Here's an example of such a page:
https://app.daily.dev/posts/fYXYHRX0r

How to get started?
* This issue involves only our client-side apps, which can be found here [dailydotdev/apps](https://www.sketch.com/s/2549ccf9-b98c-413f-96fb-81b05b59e65f/a/9PZRRDp).
* Make sure to have the latest s

[2021-06-21 16:30] Dhruv-Garg79 commented on #216
Hey, @idoshamun awesome! The issue is resolved.

[2021-06-21 16:30] #216 closed

[2021-06-22 01:18] cikupin commented on #296
@idoshamun Awesome. Can't wait to see it 👍

[2021-06-22 04:05] sshanzel commented on #103
@idoshamun sounds awesome that the merging was finished smoothly!

I shall work on this as soon as I get the chance to. I'll let you know if I would need anything! Thank you! 🍻

[2021-06-22 06:36] idoshamun commented on #279
Following our last product planning, we have designed a solution for this issue, and we're willing to open it for contribution.

It should look like this, where the new "Auto" setting should match the browser theme.
![feature design](https://user-images.githubusercontent.com/1993245/122874471-b2ba0a00-d33b-11eb-88e3-68af9c30d87e.png)

How to get started?
* This issue involves only our client-side

[2021-06-22 09:04] Mahdhir commented on #298
Hi @idoshamun
Unable to `docker-compose up`

Getting the below error.

`F:\OSS\apps>docker-compose pull && docker-compose up
Pulling daily-postgres ... done
Pulling daily-mysql    ... done
Pulling daily-gateway  ... done
Pulling daily-api      ... done
Starting apps_daily-mysql_1    ... done
Starting apps_daily-postgres_1 ... done
Starting apps_daily-gateway_1  ... done
Starting apps_daily-api_1

[2021-06-22 09:41] ivanq3w commented on #285
It can be fixed with global css variables, like
padding-bottom: env(safe-area-inset-bottom, 0);

[2021-06-22 10:01] idoshamun commented on #298
I remember there was someone that used Windows as well that had this problem but I don't remember how we end up fixing it. Let me google it.

[2021-06-22 10:05] idoshamun commented on #285
Awesome! Wanna give it a go?
You can find the footer bar component here:
https://github.com/dailydotdev/apps/blob/master/packages/webapp/components/FooterNavBar.tsx

[2021-06-22 10:13] idoshamun commented on #298
I found the relevant issue that we fixed before (https://github.com/dailydotdev/daily-apps/pull/284).
I applied the relevant changes to this repo, please try to clone again and let me know if it works. 🙏

[2021-06-22 12:53] Mahdhir commented on #298
That issue was fixed.
Now getting an issue while trying to `npx lerna run build`
Ran `npx lerna bootstrap` and then `npx lerna run build`. Received the below error 😅

`Failed to compile.

./node_modules/@dailydotdev/shared/icons/toc.svg
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file.

[2021-06-22 13:02] idoshamun commented on #298
This must be another Windows issue. I need to get a Windows station and try setting up the repo there.
Sorry for the trouble 😅

[2021-06-22 13:03] Mahdhir commented on #298
Haha
It's fine
I'll try it on a Mac then

[2021-06-22 23:46] Dhaiwat10 commented on #298
I wanted to take up this one but I am also getting the same error on Windows. 😞

[2021-06-23 00:17] Dhaiwat10 commented on #298
Trying on Ubuntu now. 🤞

[2021-06-23 00:30] Dhaiwat10 commented on #298
![Screenshot from 2021-06-23 05-59-20](https://user-images.githubusercontent.com/39617427/123016455-41846080-d3e8-11eb-9540-2d8e4d65e724.png)

Getting this error while trying to populating the DB on Ubuntu :(

[2021-06-23 07:09] idoshamun commented on #298
Oh, there's a missing step in the docs. I need to fix it.
Please run:
[code]

And only then populate the db

[2021-06-23 07:57] Dhaiwat10 commented on #298
![image](https://user-images.githubusercontent.com/39617427/123058610-a1016100-d426-11eb-9ce5-4a8e09aaf3fe.png)

This is the error I'm getting both on Windows & Linux.

[2021-06-23 08:04] idoshamun commented on #298
Ok. I know why.
Give me some time to update the docs today and do a dry run myself.
I'll let you know when it's ready.

On Wed, Jun 23, 2021, 10:57 Dhaiwat Pandya ***@***.***> wrote:

[2021-06-23 08:07] Dhaiwat10 commented on #298
Sure thing. Thanks!

[2021-06-23 08:11] omBratteng commented on #285
So testing with `padding-bottom: env(safe-area-inset-bottom, 0);` on `nav`, this is what it looks like.
![IMG_1257](https://user-images.githubusercontent.com/1681525/123060824-5a523d80-d40b-11eb-9b58-e2485dfbe29d.png)

Albeit I am running iOS 15 Beta, so it might be fixed later on

[2021-06-23 08:15] idoshamun commented on #285
Oh so now it's obscured by the address bar. But as you mentioned it's a beta version. So should we proceed with this fix in the meantime?

[2021-06-23 08:31] omBratteng commented on #285
It's not the worst issue, as soon as you scroll down, the address bar moves down, and looks like this.
![IMG_1256](https://user-images.githubusercontent.com/1681525/123063743-f7ae7100-d40d-11eb-91d7-943bdfba7665.png)

I also tried to use `padding-bottom: env(safe-area-inset-bottom, 0);` in the PWA version, but then I had to add `viewport-fit=cover` to the `viewport` meta tag, and change `nav` to t

[2021-06-23 08:50] #285 closed

[2021-06-23 10:43] idoshamun commented on #298
I fixed the instructions. Please follow it from the start.
I tried it on a clean machine, and it works. Please let me know if you stumble upon any difficulty.

[2021-06-23 10:49] killshot13 commented on #297
It doesn't look like anyone has begun working on this one yet, so I'll go ahead and start working on implementation. 👍

[2021-06-23 10:52] idoshamun commented on #297
@killshot13 perfect! Thank you :)
I just updated the local environment docs as they were a bit out of date.
Let me know if you need any guidance.
Good luck 🤘

[2021-06-24 01:52] Dhaiwat10 commented on #298
I finally got it running on a Linux machine. Thanks, Ido!

[2021-06-24 02:05] Dhaiwat10 commented on #298
![vid](https://user-images.githubusercontent.com/39617427/123191247-972b3c80-d4be-11eb-8fcc-8737b8d8c887.gif)

I think I did it. Didn't take long. 😄 Should I open a PR at the apps repo?

[2021-06-24 05:56] idoshamun commented on #298
Woop woop! That's awesome. Let's proceed with a PR 🤘

[2021-06-24 06:36] Dhaiwat10 commented on #298
Created the PR ^ 😄

[2021-06-24 06:58] #298 closed

[2021-06-24 14:17] Mahdhir commented on #279
I can look into this if this is still available 😄

[2021-06-24 14:19] idoshamun commented on #279
@Mahdhir yes, please! 🤩

[2021-06-27 11:44] idoshamun opened #299 "🐛 BUG: Fix Windows support for the apps repo"
## 🐛 Bug Report

### What went wrong? 🤔

Following #298, @Mahdhir mentioned that he had trouble compiling the apps repo due to a webpack issue.
More info here:
https://github.com/dailydotdev/daily/issues/298#issuecomment-865956728

### Expected Behavior

The web app project and the entire apps repo should compile successfully on Windows.

This can be tricky to solve but I would love to get some he

[2021-06-27 11:52] idoshamun opened #300 "🐛 BUG: "Start the discussion" bar on the article page is partially hidden in mobile Safari"
## 🐛 Bug Report

### What went wrong? 🤔

The "Start the discussion" bar on the article page is partially hidden in mobile Safari due to the grabber.
![File](https://user-images.githubusercontent.com/1993245/123543409-ec817b00-d756-11eb-8b07-2e0a1a3ed314.jpg)

### Expected Behavior

The bar should be 100% visible in mobile Safari and other browsers.

### Steps to Reproduce Issue

* Open app.daily.d

[2021-06-28 17:41] dukesy710 opened #301 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

Signed in using google, then got redirected to the 'Setup my profile' view where the only missing field is username. I enter a username and click finish but 'my email already exists' error occurs as shown in the screenshot below.

![Untitled presentation](https://user-images.githubusercontent.com/35784444/123680249-c5a37180-d848-11eb-8ee9-4de2ffbbcd51.png)

[2021-06-28 17:48] idoshamun commented on #301
Can you please send us an email with your account email address to support@daily.dev?
Let's proceed there.

[2021-06-28 17:48] #301 closed

[2021-06-28 18:15] cytostatic commented on #291
Hi @idoshamun,

It is not only a PWA Bug. The App do not start on mobile Safari neither in the browser nor as PWA.
It only happens on initial start, which means the app works as aspected after a page reload in the browser. That makes debugging extremely hard.

![Bildschirmfoto 2021-06-28 um 19 42 47](https://user-images.githubusercontent.com/10391243/123683027-0c469b00-d84c-11eb-9e9f-a331a7821d11.

[2021-06-28 18:18] idoshamun commented on #291
Hey @cytostatic,

Thanks for sending over all the details. This is indeed super hard to debug especially because I don't own an iOS device.
Can you check the logs when this happens? Maybe there's some kind of error...

[2021-06-28 18:21] dukesy710 commented on #301
Sure will do. Thanks

*Michael Dukes**BScEng (Electrical), BEngSc (BME)*
*Software Engineer*

On Mon, 28 Jun 2021 at 19:48, Ido Shamun ***@***.***> wrote:

[2021-06-28 18:23] cytostatic commented on #291
Hi @idoshamun,

There are no log messages in the console. Only after page reload in the browser (all is displayed correctly), "Successfuly preconnected to https://res.cloudinary.com/" is printed.

You can try debugging it on BrowserStack if you still have a "free trial".

[2021-06-30 08:58] miralsuthar commented on #300
I would like to take this.

[2021-06-30 09:37] idoshamun commented on #300
Hey @miralsuthar,

That would be awesome. 🤘
Let me know if you need guidance.

[2021-06-30 12:57] idoshamun commented on #84
Good news everyone!
This feature got prioritized and we're working hard to deliver it fast.
Expect it to launch soon! (very soon)

[2021-07-01 04:17] Dhaiwat10 commented on #299
I have a Windows machine so I could be of help. I don't know a lot about webpack though.

[2021-07-01 06:03] idoshamun commented on #299
Hey @Dhaiwat10,

Great talking to you again :)
It would be great if for starters you could try to build the extension.
We already know there's something going on with the web app build but maybe the extension is fine.

To build the extension clone the project and run the following:
[code]

[2021-07-01 06:19] miralsuthar commented on #300
Hey, I am getting this error whenever I try to run the web app.

![image](https://user-images.githubusercontent.com/57826091/124075385-6325bd80-da62-11eb-9a2d-1f48d57328de.png)

[2021-07-01 06:23] idoshamun commented on #300
It looks like you are using Windows and unfortunately, we have an issue running our local environment on Windows.
We have an open issue about it:
https://github.com/dailydotdev/daily/issues/299
We're doing our best to solve it but if you have any ideas you are more than welcome to share :)

[2021-07-01 06:27] idoshamun commented on #300
Try to do delete the .next and node_modules in the webapp repo and run `lerna bootstrap` again. Let's see what happens.
https://github.com/vercel/next.js/issues/6287#issuecomment-493300054

[2021-07-01 06:51] Dhaiwat10 commented on #299
Tried building the extension on Windows. I am getting loads of errors, most of them are like this:

[code]

[2021-07-01 06:51] Dhaiwat10 commented on #299
Looks like a problem with a svg loader of some sort.

[2021-07-01 07:05] idoshamun commented on #299
Ok, I think I have an idea. It has to do with the different path separators between Windows and Unix/Linux systems.
Let's fix the problem for the extension first. Please open the `webpack.config.js` in the extension repo.
Replace all occurrences of: `/node_modules\/(?!@dailydotdev)/` with `/node_modules(\/|\\)(?!@dailydotdev)/`.
Let's see if it works.

[2021-07-01 07:10] Dhaiwat10 commented on #299
The build still fails with the same type of errors.

[2021-07-01 07:19] idoshamun commented on #299
Oh, I know why...
I missed this line:
`/icons\/.*\.svg$/`
Replace it with:
`/icons(\/|\\).*\.svg$/`

[2021-07-01 07:30] Dhaiwat10 commented on #299
![image](https://user-images.githubusercontent.com/39617427/124084174-57d78f80-da6c-11eb-94c2-cad9471b58bd.png)

Is that good?

[2021-07-01 07:34] idoshamun commented on #299
Yes! That's awesome. Can you try and apply these two changes in the `next.config.js` in the webapp repo?

[2021-07-01 07:42] Dhaiwat10 commented on #299
![image](https://user-images.githubusercontent.com/39617427/124085763-0203e700-da6e-11eb-8859-dca24b4da980.png)

The build succeeds without any errors.

[2021-07-01 07:43] idoshamun commented on #299
Woop Woop!
Can you submit a PR with these changes, please?

[2021-07-01 07:45] Dhaiwat10 commented on #299
![image](https://user-images.githubusercontent.com/39617427/124086148-6757d800-da6e-11eb-855e-1ccce4653fb4.png)

Sure. But I was wondering what should I do with these two new files that got created? Should I include them in the commit, or delete them?

[2021-07-01 07:48] idoshamun commented on #299
You should remove them before commiting

[2021-07-01 07:51] Dhaiwat10 commented on #299
^ Created.

[2021-07-01 08:17] miralsuthar commented on #300
I saw the bug #299 has been solved. So now I can use it in windows too right?

[2021-07-01 08:31] idoshamun commented on #300
Yes! Make sure to pull the new changes :)

[2021-07-01 08:32] idoshamun commented on #299
Thanks for @Dhaiwat10!
It was magnificent teamwork that we pulled off and now all Windows contributors can enjoy it.

[2021-07-01 08:40] #299 closed

[2021-07-01 11:32] miralsuthar commented on #300
Hey, in my browser the UI looking bit different.
![Screenshot_4](https://user-images.githubusercontent.com/57826091/124117646-02ac7580-da8e-11eb-82f4-74d487be2eb9.png)
![Screenshot_6](https://user-images.githubusercontent.com/57826091/124117659-05a76600-da8e-11eb-8f2e-6432b8782fea.png)

[2021-07-01 11:39] idoshamun commented on #300
This looks like a Tailwind purge issue.
Can you try to change the directory separators in this file:
https://github.com/dailydotdev/apps/blob/master/packages/webapp/tailwind.config.js
to match the Windows convention. I think this is it.

[2021-07-01 14:31] miralsuthar commented on #300
Is this ok?
![WhatsApp Image 2021-07-01 at 7 56 22 PM](https://user-images.githubusercontent.com/57826091/124141551-20d29f80-daa7-11eb-9db9-4d8a6d45e789.jpeg)

[2021-07-01 14:33] idoshamun commented on #300
This looks perfect! :)

[2021-07-02 22:10] GiancarloAparicio commented on #122
I was also just looking for something similar on daily.
@idoshamun  seems to me that it would be simpler to integrate daily with vimiumC than to develop all the logic for this.
https://github.com/gdh1995/vimium-c/wiki/Inject-into-other-extensions

[2021-07-03 04:10] GiancarloAparicio opened #302 "🧩 FEATURE REQUEST: Integration with vimium-C"
## Feature Request
I know there is already a feature request on vim shortcuts, but I think it would be better to integrate it with vimium-c
https://github.com/gdh1995/vimium-c

### Description
Like the pdf viewer integration with vimium-c.
Where if you have vimium-c installed, all your configuration works and if you do not have it installed, it only has its default behavior of the extension
https:

[2021-07-06 10:18] idoshamun commented on #302
Hey @GiancarloAparicio,

I saw you replied on #122 let's keep talking there.
I don't want us to be too implementation-oriented. Let's talk about the values and features that we would like to bring.
Maybe there're alternatives to vimium-c that we want to consider.

[2021-07-06 10:18] #302 closed

[2021-07-06 10:22] idoshamun commented on #122
@GiancarloAparicio thanks for the suggestion. I took the time to read the instructions and they require us to modify the permissions of the extension. Modifying permissions is an act that we usually don't take because of our past experience.
We're open to evaluating other alternatives if you're familiar with them. As of daily 3.0, we had to drop our support for the vim-like navigation and we have

[2021-07-08 06:37] #300 closed

[2021-07-08 07:41] DasikaMadhu opened #303 "🧩 FEATURE REQUEST: Option to Delete Account"
## Feature Request
Option to delete an existing account

### Description

A button in the Account section or elsewhere to be able to delete existing account

[2021-07-08 08:41] idoshamun commented on #303
Hey @DasikaMadhu,

We will add it to the roadmap.
This is indeed a necessary feature.

[2021-07-09 13:38] KouluruNandaKishoreReddy opened #304 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Issue

### Solution

### Environment

#### Operating System

#### Version of Daily

#### Browser

[2021-07-09 13:44] #304 closed

[2021-07-10 12:43] killshot13 commented on #297
Is there any way to either bypass or authorize the sign-in to Google/GitHub in the dev environment? This is probably a noob question, but I also don't want to go down the rabbit hole if there is a simple workaround.

Because when I am trying to view/test my changes to the code using the hot extension reload, it won't let me "suggest" a new RSS feed without signing in. 😐

[View Example](https://use

[2021-07-11 05:55] idoshamun commented on #297
Hey @killshot13,

You can disable the authentication check in the relevant callback. See the below to the specific line:
https://github.com/dailydotdev/apps/blob/master/packages/shared/src/components/filters/SourcesFilter.tsx#L96

Let me know if I can assist further.

[2021-07-11 08:25] #279 closed

[2021-07-12 14:55] LeoCovarrubias opened #305 "🐛 BUG: The extension has a long loading time, sometimes it does not load neither the main page nor the news of a specific topic. I tried to uninstall and install but it doesn't work."
## 🐛 Bug Report

### What went wrong? 🤔
The extension has a long loading time, sometimes it does not load neither the main page nor the news of a specific topic. I tried to uninstall and install but it doesn't work.

![imagen](https://user-images.githubusercontent.com/54729665/125309416-5d986500-e2f7-11eb-886e-1426e66c3936.png)

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Is

[2021-07-12 14:56] idoshamun commented on #305
Hey @LeoCovarrubias,

Unfortunately, we are having technical issues.
We are working hard to solve it ASAP! 🙏

[2021-07-12 15:44] idoshamun commented on #305
It should be fine now. Let me know if you experience anything else.

[2021-07-12 15:44] #305 closed

[2021-07-16 12:21] CiaraBurkett opened #306 "I want to delete my account"
I want to delete my account and all of my personal information. I don't see that option anywhere.

[2021-07-16 12:28] idoshamun commented on #306
Hey!

Please shoot us an email at support at daily.dev

[2021-07-16 12:28] #306 closed

[2021-07-22 05:54] justnewbee opened #307 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

![image](https://user-images.githubusercontent.com/2276086/126595181-52d84958-b58c-473f-8879-df891d734a6c.png)

Every time I open a new tab in Firefox, it will be redirected: https://app.daily.dev/register?redirect_uri=moz-extension://905b81a8-8230-0b4a-bdba-cb54c8cdc73f/index.html

And I got this error...

Cannot go back, cannot cancel, cannot proceed

Ver

[2021-07-22 12:03] idoshamun commented on #307
Hey! Our registration flow includes third-party authentication and providing more information about you.
In case we detect that your email is used with another account we can't let you complete the registration.
It might be that in the past you used another provider to log in to our system. Please send us an email to support at daily.dev and we will take it from there. It's not recommended to shar

[2021-07-22 12:03] #307 closed

[2021-08-02 11:49] #103 closed

[2021-08-03 15:51] mardab commented on #291
To me it just stopped working in Firefox, displays only this
![image](https://user-images.githubusercontent.com/25365583/128046494-44f4176f-371a-4e69-9e92-5cc1c687ce84.png)
And since you made it protected, there's not much for me to debug on my own.

[2021-08-04 06:11] idoshamun commented on #291
Hey @mardab,

Is this reproducible? I couldn't reproduce it on my machine I would love to get more information.
I also bought an iPhone to debug the issue above and couldn't reproduce either.
If anyone has some console or network logs to share it would be fantastic.
I must get into the root of this.

[2021-08-04 13:46] omBratteng commented on #291
@idoshamun in Chrome, with 3.4.0, this is all I get.
![image](https://user-images.githubusercontent.com/1681525/128191902-c2bb33e7-ce6f-4d34-b67c-f3531939efb9.png)

With this in the console log
[code]

[2021-08-04 13:48] idoshamun commented on #291
@omBratteng thanks for the report. I'm on it

[2021-08-04 13:57] omBratteng commented on #291
@idoshamun Seeing the same in Firefox, with this in the console.
Also v3.4.0

[code]

[2021-08-04 13:59] idoshamun commented on #291
Thanks for checking I've already fixed it. I'll soon release a new version hopefully it will be reviewed quickly enough

[2021-08-04 14:00] omBratteng commented on #291
Awesome, I'll keep an eye out and report back if it fixes it in Chrome and Firefox.

[2021-08-04 14:09] idoshamun commented on #291
I published v3.4.1 to the stores. Now let's hope they'll review it.
How did I miss this error ffs 😅

[2021-08-04 14:12] idoshamun commented on #291
It should be available on Firefox now

[2021-08-04 14:15] omBratteng commented on #291
Can confirm, [`v3.4.1`](https://github.com/dailydotdev/apps/tree/v3.4.1) is now in FireFox, just waiting for Chrome.

[2021-08-04 14:19] idoshamun commented on #291
According to my experience with the Chrome Store, whenever I publish a critical fix they take so much time to review 😂

[2021-08-04 19:25] #84 closed

[2021-08-04 19:25] #296 closed

[2021-08-04 19:40] idoshamun commented on #84
The feature is live in our web app and soon will be available on the extension as well 🚀

[2021-08-04 19:40] idoshamun commented on #296
The feature is live in our web app and soon will be available on the extension as well 🚀

[2021-08-04 20:08] omBratteng commented on #291
I think you are right @idoshamun 😂
It's still [`v3.4.0`](https://github.com/dailydotdev/apps/tree/v3.4.0) in the Chrome Store

[2021-08-04 20:11] idoshamun commented on #291
Yes. I hate their review process. It's unpredictable.
By the way, I just released a new version with a new option to ban tags from the feed. It's available on the web app currently and later I'll release it in the extension 🤠

[2021-08-04 22:47] MohannadBahaa opened #308 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔
    When I press on the new tap I am getting this error

![Capture](https://user-images.githubusercontent.com/28856488/128265259-4087bbf7-ce6a-497e-b9d4-821e09772e94.PNG)

### Expected Behavior
get all articles

### Actual Behavior
I am not able to read articles, I am seeing a blank page without articles

### Steps to Reproduce Issue

- just click on the new

[2021-08-04 23:28] mrevjd commented on #308
Having the same issue with:
Chrome Version 92.0.4515.131 (Official Build) (64-bit)
Ubuntu Cinnamon 20.04

However Firefox 90.0.2 (64-bit) works

[2021-08-05 02:05] darkpiv opened #309 "🐛 BUG: Cannot open new tab"
## 🐛 Bug Report

### What went wrong? 🤔

A new tab in Firefox crash

### Expected Behavior
Open a new tab with DailyDev content on it

### Actual Behavior
Show nothing on new tab

### Steps to Reproduce Issue
Open new tab
![image](https://user-images.githubusercontent.com/5578040/128279356-4431a46f-ac9e-41aa-98a2-c4533c8f58f0.png)

### Solution
I'm not sure but the Chrome works fine

### Environme

[2021-08-05 02:59] toanbku commented on #309
I also have the same problem

**Browser:**
Chrome 92.0
OS: Mac OS

![image](https://user-images.githubusercontent.com/28706996/128283891-4e38b114-c4f5-425e-a7ef-cd71de6cd937.png)

[2021-08-05 04:20] idoshamun commented on #309
Hey!

Thanks for reporting.
v3.4.0 was broken, unfortunately, please make sure to update to the latest version v3.4.1.

[2021-08-05 04:20] #309 closed

[2021-08-05 04:21] idoshamun commented on #308
Hey!

v3.4.0 was broken, unfortunately, please make sure to update to the latest version v3.4.1.

[2021-08-05 04:21] #308 closed

[2021-08-05 07:40] omBratteng commented on #291
Can confirm, [`v3.4.1`](https://github.com/dailydotdev/apps/tree/v3.4.1) is now in Chrome, and working as expected.

[2021-08-05 11:47] jfujita57 opened #311 "🧩 FEATURE REQUEST:"
## Feature Request

### Description

### Solution

### Alternate Solutions

[2021-08-05 11:48] #311 closed

[2021-08-09 17:31] souhaiebtar opened #312 "🐛 BUG: https://app.daily.dev/devcard repport that something went wrong"
## 🐛 Bug Report

### What went wrong? 🤔

i tried to open `https://app.daily.dev/devcard` but i got a message ` something went wrong`

### Expected Behavior

i expected that i get something correct like a page or something like that

### Actual Behavior

i got a message `Something went wrong, please try again...`

and when i used inspect, i found that there is 2 problem:

1. `Cross-Origin Request B

[2021-08-10 05:10] idoshamun commented on #312
Can you please check if your profile information is complete?
I think your account is missing a username.
Go to your profile page and hit account details.

[2021-08-11 16:34] creativenull opened #313 "🐛 BUG: blocked sources are still being displayed when browsing by tags"
## 🐛 Bug Report

### What went wrong? 🤔

Blocking a source from the sources section and then going to the tags section to browse posts by a tag still shows the blocked source as part of the posts shown within that tag.

### Expected Behavior

Blocked sources should not be shown even when browsing posts by tags.

### Actual Behavior

Blocked sources are still shown when browsing by tags.

### Steps

[2021-08-11 17:11] idoshamun commented on #313
Hey @creativenull,

The preferences in the sidebar affect only your personal feed.
Tag-based are not affected by your selection, neither the most upvoted and discussed feeds.
We should make it more clear. I can definitely understand the confusion.

[2021-08-11 19:42] creativenull commented on #313
Hey thanks for the update!

Any plans to have that feature on tag-based browsing?

[2021-08-11 19:50] impressivewebs opened #314 "🐛 BUG: Web Tools Weekly feed not updating"
## Web Tools Weekly feed not updating

### What went wrong? 🤔

My newsletter Web Tools Weekly (https://webtoolsweekly.com/) is included in the list of resources, but the feed hasn't updated since June 2. The URL is here:

https://app.daily.dev/sources/webtoolsweekly

### Expected Behavior

A new issue should be posted each week.

### Actual Behavior

Issues haven't been added since June 2.

### St

[2021-08-11 21:23] gvdr commented on #306
Hey, I want to delete my account too. And no, I don't want to have to write you an email. Act on it swiftly, as you may be in breach of GDPR regulations.

[2021-08-11 22:35] idoshamun commented on #306
@gvdr I'm asking for an email to validate your account, not because I fancy making this process longer. And anyway, according to your GitHub profile you are located in New Zealand :P
Again, please send us an email as mentioned above.

[2021-08-11 22:42] idoshamun commented on #313
Unfortunately, not at the moment.
We're focused on improving the main feed content.

[2021-08-11 22:42] #313 closed

[2021-08-12 07:09] idoshamun commented on #314
Hey @impressivewebs,

I'll check it out and let you know :)

[2021-08-12 10:33] obouchari opened #315 "🧩 FEATURE REQUEST:"
## Feature Request

### Description

I would like to be able to search for titles on my bookmarks page.

### Solution

A simple search input with the ability to show relevant titles in real-time would be cool!

### Alternate Solutions

I have tried to use the browser native search with no luck. As it only searches in the visible area but not the whole page.

[2021-08-12 23:07] GiancarloAparicio opened #316 "🧩 FEATURE REQUEST: Add dislike"
## Feature Request

Adding a button I don't like

### Description
Looking for some posts to read I came across one of the worst I've read and it seems strange to me that I would recommend it daily.
Even in the comments of the article that is mentioned.
![test](https://user-images.githubusercontent.com/61440825/129280741-712cbcb3-1d09-47cb-8d73-8cc6012c0116.png)

That way you could see in a way if

[2021-08-14 13:02] lifez commented on #297
@killshot13 Are you still working on this issue. Can I work on this?

[2021-08-14 19:24] killshot13 commented on #297
I am but you are welcome to help. I have been busier than expected so I've been a bit slower than usual.

[2021-08-17 05:21] idoshamun commented on #297
@lifez you can go ahead and work on it :)
Let me know if you need any help

[2021-08-17 05:25] idoshamun commented on #316
Hey @GiancarloAparicio,

A dislike/downvote option is asked every now and then and we to think about the right implementation that can prevent abuse and etc. At the moment we decided to provide a rich reporting functionality that acts like a downvote or can even make posts be removed.
I hope this makes sense to you. I'll leave this issue open so we can address it in our future product meetings.

[2021-08-17 05:26] idoshamun commented on #315
Hey @obouchari,

That's a great idea. We will add it to our backlog :)

[2021-08-17 06:27] idoshamun commented on #314
I checked into our system and find out that it has to do with the RSS third-party system we are using.
We are looking into replacing it with an in-house solution, it will take a while but eventually, it should fix the issue.
I'll the issue open for now.

[2021-08-17 20:31] jeriiglesias opened #317 "🐛 BUG: I lost all my bookmarks"
## 🐛 Bug Report

### What went wrong? 🤔

I lost all my bookmarks

### Expected Behavior

I should have seen all my hundreds of bookmarks

### Actual Behavior

I am seeing a blank list of bookmarks. My bookmarks list is empty.

### Steps to Reproduce Issue

app.daily.dev just kept prompting all of a sudden, with the username field blank. I filled in username but it won't save. So I logged out.
When

[2021-08-17 20:38] idoshamun commented on #317
Hey,

It takes you to registration page because your profile is incomplete
(username is missing). It is not saved probably because you have multiple
accounts with the same email. We are slowly updating our authentication
system to get rid of legacy edge cases. Sorry for the inconvenience. Let me
know your email so I can check if you have multiple accounts assigned to
whom one of them has the bookm

[2021-08-18 04:41] gvdr commented on #306
Yes, I'm based in New Zealand but I am a EU citizen, so GDPR applies to me as well ;-)

[2021-08-18 04:43] idoshamun commented on #306
As mentioned before please send us an email. Otherwise I cannot confirm your account...

[2021-08-19 08:25] russoalberto opened #318 "🐛 BUG: "Set up your profile" page cannot permit to complete profile"
## 🐛 Bug Report

### What went wrong? 🤔

I cannot complete my profile because "This email is already used"
![2021-08-19_10-20](https://user-images.githubusercontent.com/296379/130034033-c441f27e-65a0-458a-919f-29f0a9be8568.png)

### Steps to Reproduce Issue

1) I login to daily.dev with my gmail Account.
2) App show the page "Set up your profile"
3) I cannot complete my profile because "This email

[2021-08-19 08:32] idoshamun commented on #318
Hey @russoalberto,

That's because you have another account registered with the same email (probably a GitHub-based account).
Previously, we allowed such duplication to happen but now we fixed it.
Sorry for the inconvenience but if possible please send us an email to support at daily.dev and we will delete the second account.

[2021-08-19 08:32] #318 closed

[2021-08-22 12:31] DefCon-007 opened #320 "Duplicate entries on the homepage"
I saw duplicate entries side by side, would be great to filter on destination URLs to prevent this
![Screenshot 2021-08-22 at 5 59 43 PM](https://user-images.githubusercontent.com/16754547/130355265-de9c1ef0-1935-4f0c-9b59-dcf2d7748b4a.png)

[2021-08-28 11:24] ArchTaqi opened #321 "🧩 FEATURE REQUEST: Feeds from Only Favourite Sources"
## Feature Request

Feeds from only my favorite sites.

### Description

It would be great if we have the feature to have favourite sources i.e InfoQ, Netflix engineering blog etc. So that my feeds only shows up article from this sites.

![Screenshot from 2021-08-28 16-21-15](https://user-images.githubusercontent.com/6747841/131216346-a7cd4715-8d80-4370-a208-0ef5fd1444f9.png)

[2021-08-30 06:00] idoshamun commented on #321
Hey @ArchTaqi,

So you want to disable all sources and then select only a few that you like?

[2021-08-30 06:08] ArchTaqi commented on #321
@idoshamun Yes.

[2021-08-30 06:10] idoshamun commented on #321
We'll discuss it in our upcoming product meeting. Thanks :)

[2021-09-01 15:22] antoniel opened #322 "🧩 FEATURE REQUEST: block certain sources from the feed"
## Feature Request
A section to block a list of source's on the feed, like a source blacklist.

### Description

As a user I would like to block some sites from my feed, use case there's specific sources in a tag that I'm not interested in see the content, mostly because the target audience of these source doesn't includes me, so a blocked source sections would be pretty nice.

### Solution

Store

[2021-09-02 06:27] #322 closed

[2021-09-02 18:47] antoniel commented on #322
I see, but i would like block specific sources e.g https://reactjsexample.com/, don't want to see any content from this source but still want to see \#react tag

[2021-09-02 19:12] idoshamun commented on #322
Yes, you can block the source from the sidebar. There's a toggle menu at
the top that switches between tags and sources.

On Thu, Sep 2, 2021, 21:47 Antoniel Magalhães ***@***.***>
wrote:

[2021-09-02 22:48] antoniel commented on #322
Coool, thanks for the real quick support

[2021-09-04 03:20] quocanh89 opened #323 "🐛 BUG: This email is already used"
## 🐛 Bug Report
### What went wrong? 🤔
![Capture](https://user-images.githubusercontent.com/20266333/132080763-8aaf9273-b62d-415c-a3ec-66f207d73900.JPG)
When i sign up my acc by github, and also by gmail. This email is already used.
### Environment
#### Operating System: Window10.
#### Version of Daily: 3.6.1
#### Browser: Chrome

[2021-09-05 06:04] idoshamun commented on #323
Hey!

It's because you signed in with two providers.
At the moment, we don't support it. I can assist you by deleting one of them.
Please let me know which one by sending an email to support at daily dot dev

[2021-09-05 06:04] #323 closed

[2021-09-06 06:38] sk2andy opened #324 "🧩 FEATURE REQUEST: Weekend mode"
## Feature Request

Please add a weekend/offday mode that not reset your weekly goals.

### Description

For some devs reaching the weekly goals is not possible due to weekends. For example I am a family father of two children and cannot read any news article on the weekend or on vacation.

### Solution

Transform the weekly goals to a more generic goal system where you can specify your off days.

[2021-09-06 08:43] idoshamun commented on #324
Hey @sk2andy,

Thanks for raising this concern.
Work-life balance is very important and we will consider this issue in our upcoming product meeting.
I'll keep you posted :)

[2021-09-06 17:59] ariaieboy commented on #316
@idoshamun
can't you make that dislike button a personal thing ?
like what we have in google news feed and other feeds so we just dislike the post that we dont like and daily.dev dont show us that kind of posts later or at least show us less articles like that.

[2021-09-06 18:22] ariaieboy opened #325 "🧩 FEATURE REQUEST: suggest new tags functionality"
## Feature Request

### Description

I would like to have a `Suggest new tag` button like what we have in the source section so we can suggest new tags for daily.
for example right now i can suggest to add nuxtjs or laravel-livewire or livewire as new tags.

### Solution

it can be just like what we have in the source area a simple form so we can submit new tags that we want them in the daily app.

[2021-09-09 04:33] edent opened #326 "🧩 FEATURE REQUEST: Better login options"
## Feature Request
I don't want to sign in usong GitHub or Google. I want to create an account usong a unique email address and password.

Please provide an option to creat an accoint rather than using a social login.

### Description

* I don't trust you woth my GitHub or Google details.
* Lots of people don't have either of these services.
* Letting users use a unique email address and password

[2021-09-09 05:12] vishal-poojary opened #328 "Make comment box more dark mode friendly"
The comment box which pops up after an article is upvoted is bright in comparison to the rest of the page. This really hurts the eyes especially in low light conditions.

Maybe making the comment box greyish would be better.

![image](https://user-images.githubusercontent.com/88188885/131784245-bc2e7ce1-9357-4089-af6e-4205544c7096.png)

[2021-09-09 05:17] idoshamun commented on #316
@ariaieboy thanks for the suggestion. Unfortunately, we don't have an advanced recommendation system like Google News but we do plan to give a similar option. The new option will allow you to block relevant tags directly from the card menu.
What do you think about that?

[2021-09-09 05:22] idoshamun commented on #325
Let me explain in a nutshell how our tagging system works. We use an NLP algorithm to extract the keywords from the content, we then match it to our manually selected list of tags, and only then associate the tags with the article.
To create a new tag we need new sources that will provide content for this tag. Otherwise, you might see the tag on the list but there will be no content there which is

[2021-09-09 05:30] idoshamun commented on #326
We will add an email and password sign-up, but I can't guarantee it will be any time soon.
Regarding the social logins, we ask for minimal permissions and don't even store the access token in our database. So even if something bad happens, we don't store relevant information about the login provider that can be misused.
It is used only for the initial fetch of personal information to prefill the r

[2021-09-09 06:10] #312 closed

[2021-09-09 06:20] #317 closed

[2021-09-16 17:32] impressivewebs commented on #314
Hi @idoshamun, just FYI I noticed that my newsletter's last two issues have appeared in the feed, so I think this is fixed now. The only thing I should probably correct is the fact that the social cards in the HTML didn't provide the correct "subject line" for the feed title.

[2021-09-19 08:17] idoshamun commented on #314
That's great to hear! We have some heuristics regarding the title we use, and if you go to the article you will see that the title everywhere is "Web Tools Weekly". This is why our scraper chose this title.

[2021-09-21 15:32] martinlbradley opened #329 "🐛 BUG: Calendar not in sync"
## 🐛 Bug Report

### What went wrong? 🤔

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Issue

### Solution

### Environment

#### Operating System

#### Version of Daily

#### Browser

[2021-09-21 16:12] martinlbradley commented on #329
When I read an article, the "Articles read in the last year" bar is updating the count for yesterday, even when an empty dot is showning for the current day.

[2021-09-22 06:30] #314 closed

[2021-09-22 06:31] idoshamun commented on #259
We just recently released a new version with extended options for the DND :)

[2021-09-22 06:31] #259 closed

[2021-09-22 06:33] idoshamun commented on #329
This is probably caused by timezone differences. Currently, we calculate this matrix in UTC time and you're probably located somewhere else. We will add timezone support in the future

[2021-09-23 05:45] skarthikeyan96 opened #330 "🐛 BUG: Claimed articles not displaying on profile"
## 🐛 Bug Report

### What went wrong? 🤔

Even after adding the twitter username in my account to claim the article which I wrote , I am not able to see the author badge or it is not showing up on the articles list.

### Expected Behavior

1. As mentioned after commenting on my post , I should have gotten the author badge
2. It is not appearing on the `your articles` list.

Post Link: https://app.d

[2021-09-23 06:05] idoshamun commented on #330
It is fixed now :)

[2021-09-23 06:05] #330 closed

[2021-09-23 06:24] skarthikeyan96 commented on #330
@idoshamun Thank you

[2021-10-03 16:28] wtrungvu opened #331 "🧩 FEATURE REQUEST: Making YouTube Videos, podcast, ... regular daily."
## Feature Request

Making YouTube videos, podcast, ...

### Description

Making YouTube video, podcast, ...
YouTube channel, podcast channel, ...
Advertise for everyone to know.
Creating new videos, podcast everydays... everyweek ...
What's new everyday?
What's trending?
What things that devs should know?
...

just an funny ideas... you can add more suggestions 😅😂

[2021-10-04 06:08] idoshamun commented on #331
Hey!

Thanks for the suggestion. At the moment we're trying to perfect our written content feed and then we might want to explore new types of content.

[2021-10-04 06:08] #331 closed

[2021-10-10 11:50] suhailkakar opened #333 "Unable to run daily app locally"
Hi,
I am sorry if I added this in the wrong place, but I am unable to run the daily app locally,

after pulling the image, I get this warning :(
![Screenshot 2021-10-10 at 12 49 26](https://user-images.githubusercontent.com/56798748/136694289-4ecf4d66-51ac-4edb-9b0f-8e56c7fa4e20.png)

[2021-10-11 07:06] suhailkakar commented on #333
Hi, Hansel

Thanks for your quick response,
Yes, here are the details

Operating system: macOS Monterey - 12.0 Beta
Processor: 3.2 GHz 6-Core Intel Core i7
Memory: 32 GB 2667 MHz DDR4
Docker version: 20.10.8, build 3967b7d
Docker desktop: 4.1.0
Redis server: v=6.2.6

Hope you find above details useful :)

If you need any more details, please let me know

[2021-10-11 23:52] PichardoWilfred opened #334 "🧩 FEATURE REQUEST: Add compatibility to Opera sidenav actions"
## Feature Request
Is it possible to add compatibility to Opera sidenav actions?
### Description
Adding compatibility for the extension to display as an "Opera Sidenav Action", not sure of how hard that could be,
but doesn't seem like a bad idea.

### Solution
Adding in the manifest.json the proper permissions and/or providing the background scripts with the correct credentials
(Couldn't get the p

[2021-10-12 14:00] #334 closed, assigned to nobody

[2021-10-12 19:05] ariaieboy opened #335 "🐛 BUG: hide read posts not working"
## 🐛 Bug Report

### What went wrong? 🤔

i've enabled the hide read posts in the prefrence setting but it's not working as expected
![image](https://user-images.githubusercontent.com/15873972/137014036-16e41db8-da2a-4ccd-b8ee-8f830ac9cf09.png)

### Expected Behavior

i want to hide the read posts from my feed in any tab like recent popular etc
### Actual Behavior

but its not working and as you ca

[2021-10-12 19:17] ariaieboy opened #336 "🧩 FEATURE REQUEST: seperate followed tags in a new tab or make followed tabs priority over normal tags"
## Feature Request

### Description
right now if we follow a tag we only see posts that have that tag for example if i only follow laravel tag all my feeds will show posts that have laravel tag.
because of that i will always block the tags that i dont want to see instead of following tags that i like

### Solution
the first solution can be to seperate followed tags from non followed tags and make

[2021-10-13 07:17] shaivik opened #337 "🧩 FEATURE REQUEST: Option to modify or remove most visited site section"
## Feature Request

Option to modify and remove the most visited site section.

### Description

- Right now, the most visited site section on the page is static and there is no control over it to modify these sites. It would be better if we could pin websites of our choice in this section similar to what we do in bookmarks bar.
- Also once we add this section there is no option to remove it. Prov

[2021-10-13 09:24] idoshamun commented on #335
I'll look into it, thanks for reporting.
Anyway, this setting will become obsolete soon as we're rolling out a new feed algorithm that already takes it into account by default.

[2021-10-13 14:08] idoshamun commented on #333
How did you set it up?

[2021-10-13 14:40] suhailkakar commented on #333
I installed redis using brew

[code]

[2021-10-13 15:36] suhailkakar commented on #333
Thank you,
It is fixed now, but seeing another error from postgres : (

I did not setup postgres yet, should I do it?

![Screenshot 2021-10-13 at 16 34 16](https://user-images.githubusercontent.com/56798748/137166271-458d5595-e565-4316-ad6b-591c0766281d.png)

[2021-10-13 15:42] idoshamun commented on #333
Can you please try to run `docker-compose rm -v`. It should clear all the data and containers and then run again the command.
Let's see what happens

[2021-10-13 16:12] idoshamun commented on #333
That's weird. I'll look into it tomorrow :)

[2021-10-13 16:53] suhailkakar commented on #333
Sure, thank you so much :)

[2021-10-14 06:14] idoshamun commented on #333
I tried to use the docker-compose on a clean machine and it seems to work. Can you please check if you have a Postgres server running somewhere? I think this might cause the issue

[2021-10-14 06:59] sshanzel commented on #333
You are very welcome! Have fun in your local environment 😉

When you've got @idoshamun with you, you will have nothing to worry about 😛

[2021-10-14 16:48] ariaieboy opened #338 "🧩 FEATURE REQUEST: notification system"
## Feature Request

### Description

having some features like comments and upvoting is really cool and it will be awesomee to have a notification systm that we recieve notification on up vote or at least at commnet reply so we can see who replied to our comment and interact more on that subject

[2021-10-18 18:04] nimishjn opened #339 "Create an endpoint for shields.io badge"
There is a feature in the website [shields.io](https://shields.io) where we can create custom badges using an endpoint.
The endpoint should basically return a JSON like the one given below:
[code]
There can be a simple endpoint like `<endpoint URL>?user=nimishjn` which will return the JSON data depending on the username. Developers can use this custom shields.io badge for their GitHub README.md
Ch

[2021-10-20 06:40] #339 closed, assigned to nobody

[2021-10-26 01:31] DionneNoellaBarretto opened #340 "🧩 FEATURE REQUEST: Ability to update Profile>Website without changing email ID"
## Feature Request

### Description

[2021-10-26 13:09] #340 closed, assigned to nobody

[2021-11-04 17:04] Laaaaannn opened #342 "🐛 BUG: search component behaviour"
## 🐛 Bug Report

### What went wrong? 🤔
- The search component is hiding when clicking the right side of input

### Expected Behavior
- It should not close the search input

### Actual Behavior
- it should focus on the search input

### Steps to Reproduce Issue
- https://user-images.githubusercontent.com/14991331/140378390-82118514-0f0f-41ad-ae3e-96170eafef13.mp4

### Solution
- change the impleme

[2021-11-07 06:04] idoshamun commented on #342
Hi @Laaaaannn,

Thanks a lot for reporting this.
We are soon planning a re-layout for the application which involves changing the behavior of the search bar.
So stay tuned :)

[2021-11-10 09:21] omBratteng opened #343 "🐛 BUG: area to click on links in new sidebar doesn't match the cursors"
## 🐛 Bug Report

### What went wrong? 🤔

When hovering over a `<li>` tag, I see the pointer cursor, but when I click, nothing happens.
Anything outside the red border, is un-clickable, but has the pointer cursors

![image](https://user-images.githubusercontent.com/1681525/141085694-feef2e9f-6fd0-4c46-8740-7f5d6c832964.png)

### Expected Behavior

Whole `<li>` should be clickable

### Actual Behavi

[2021-11-10 11:24] rebelchris commented on #343
@omBratteng Thanks for reporting I'll be fixing this ASAP ✅

[2021-11-10 11:56] #343 closed

[2021-11-10 11:57] rebelchris commented on #343
Fixed it, will be available for the webapp soon.
And the extension on next build.

Thanks for logging this @omBratteng 🤘

[2021-11-10 12:22] omBratteng commented on #343
@rebelchris can confirm, this has been fixed in webapp. Looking forward to it being in the extension as well.

[2021-11-11 03:25] AnishDe12020 opened #344 "🧩 FEATURE REQUEST: Custom RSS Feeds on an user basis"
## Feature Request

An option for users to add RSS Feeds (of any news site they want, e.g. their github feed, specific hashnode feeds etc) and the feed will show up on the daily.dev page (probably on a different tab or something) from where they can read the articles like any news reader. In this case daily.dev will not only give people with devnews (which it is doing currently) but will also work

[2021-11-11 04:20] csbain commented on #344
I'd like to second this, it would be really good to have an rss feed to have on our companies slack/teams/etc... and raise awareness about these articles internally.

I've had a look at some of the source code but every reference to an rss capability - mainly in https://github.com/dailydotdev/daily-api/blob/d3f909d721ddca1ac747bbded0d74f661e961ef8/__tests__/rss.ts

seems to point to the possibilit

[2021-11-11 06:30] imsaptarshi commented on #344
agree agree

[2021-11-11 07:46] idoshamun commented on #344
We used to have these options on our Premium features. Unfortunately, this didn't work out, and at the moment we don't have plans to bring it back. We focus now on improving our feed, ranking, content relevancy, considering also letting people post news just like in Hacker News. But daily.dev is not going to be a full-blown RSS reader any time soon. Sorry! 😅

[2021-11-11 07:46] #344 closed

[2021-11-11 11:05] JoaoOliveira85 opened #345 "🐛 BUG: Typo on sidebar (Advanced Options)"
## 🐛 Bug Report

### What went wrong? 🤔

Typo on sidebar.

### Expected Behavior

On Advanced options > "Non-editorial content" the text reads:

### Actual Behavior

On Advanced options > "Non-editorial content" the text should read:

### Steps to Reproduce Issue

Open the side menu ("cog" icon), select "Advanced" and then read the "Non-editorial content" description.

### Solution

Fix the text,

[2021-11-11 12:01] idoshamun commented on #345
Hi @JoaoOliveira85,

Thanks for your sharp eyes! 👀
I fixed the issue. It's indeed stored in our DB

[2021-11-11 12:01] #345 closed

[2021-11-11 15:12] JoseOsp opened #346 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

I cant not use my git hub to login and I know I already connect my account . How can I login? Can you help me please.

### Expected Behavior

That if I want to login with my github that works

### Actual Behavior

When I try to login using GitHub doesn’t work

### Steps to Reproduce Issue

login with gihub, that redirect me to github I login on github but a

[2021-11-12 14:15] DanTsk opened #347 "QUESTION: How I can filter sources ?"
Hello!
On the `daily.dev` landing I can see functionality to filter sources and tags (screenshot below).
![image](https://user-images.githubusercontent.com/18099022/141480737-34555989-1124-4cb4-8cbe-d614c9bfacb4.png)

I've used this functionality a long time ago, but now I can't find it. Was it removed, or this UI is hidden somewhere?
Thanks.

[2021-11-13 15:41] ntctuyen opened #348 "🐛 BUG: Can not login"
## 🐛 Bug Report

### What went wrong? 🤔

![image](https://user-images.githubusercontent.com/27688125/141649630-73e46f6d-c643-4344-8396-f5a05dee1285.png)

Sign in buttons but the text signs up, after clicking on Sign in with Google, It redirected to the [Registration page:](https://app.daily.dev/register?redirect_uri=https%3A%2F%2Fapp.daily.dev%2F&mode=default)

![image](https://user-images.githubu

[2021-11-13 16:36] nimrodkra commented on #347
Hi @DanTsk,

Thanks for reaching out! Indeed, we recently introduced a [new way to filter your feed](https://changelog.daily.dev/revamped-feed-filtering-options-212974) on daily.dev.

The new filtering experience is focused mostly on topics (tags). Since we aim to bring the most relevant content, regardless of where it was published, we decided to focus our filtering options on tags. We hope this

[2021-11-14 13:34] #347 closed

[2021-11-15 07:37] idoshamun commented on #346
Hi @JoseOsp,

Please try again now :)

[2021-11-15 07:37] #346 closed

[2021-11-15 08:00] idoshamun commented on #348
Hi @ntctuyen,

You have two accounts registered under the same email. One with your Google and the other with your GitHub account.
Please let me know which one you would like to keep.
This happens due to an issue we've in our authentication system and we hope to solve it soon.

[2021-11-15 15:09] ntctuyen commented on #348
Hi @idoshamun, I want to keep the google account. Thanks for your effort 🤗

[2021-11-15 15:45] idoshamun commented on #348
Done!

[2021-11-15 15:45] #348 closed

[2021-11-15 21:34] invntiv opened #349 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔
Account data seems to be corrupted; the article count is UNDEFINED and the devcard is no longer visible or able to be generated. Additionally, the age of my account is also incorrect. It's been set to November (probably set to today's date because today is when I implemented the GitHub Action that would pull the generated devcard SVG into my README.md profil

[2021-11-16 05:56] rebelchris commented on #349
Hi @invntiv thanks for reporting this!
Working to solve this ASAP

[2021-11-16 06:11] rebelchris commented on #349
Hello @invntiv we just deployed a hotfix that solves this issue.
Please do let us know if there is anything else off 👏

Closing this for now.

[2021-11-16 06:11] #349 closed

[2021-11-16 14:55] adoniasvitorio opened #350 "🐛 BUG: Can't update my profile infos without changing my email ID"
## 🐛 Bug Report

### What went wrong? 🤔
When I try update my company Info I received Form Request "This email is already used"

### Expected Behavior
 I expect update only  my company info.

### Actual Behavior
Not update my info and give bad messagem about my email.

### Steps to Reproduce Issue
1 - Click **Profile Settings**.
2 - Click **Account details**.
3 - Update my **Company Info**.
4 - Cli

[2021-11-16 15:22] nimrodkra commented on #329
Hi @martinlbradley we have some good news! We shipped today a new feature following your feedback! Now you can add the time zone to your profile: https://changelog.daily.dev/add-time-zone-213792

[2021-11-16 15:22] #329 closed

[2021-11-16 16:00] idoshamun commented on #350
Please send us an email to support at daily.dev with all the information and we will fix it.
We don't want you to share personal info here :)

[2021-11-16 16:00] #350 closed

[2021-11-17 07:43] ariaieboy opened #351 "🐛 BUG: account details saving problem"
## 🐛 Bug Report

### What went wrong? 🤔
Hi i want set my timezone in the account details but when i press the save button i'm seeing an error under email input that says "This email is already used"

### Expected Behavior
it must save the settings without any error

### Actual Behavior
its not saving anything and showing error

### Steps to Reproduce Issue
open account details with filled inputs c

[2021-11-17 12:31] idoshamun commented on #351
Please try again now

[2021-11-17 12:31] #351 closed

[2021-11-17 15:34] umairhm commented on #297
@idoshamun I was trying to set up the dev environment locally in the hope to fix this thing, but I couldn't get the Postgres DB to work. I see the following error in the Docker logs:

![Screen Shot 2021-11-17 at 2 06 53 AM](https://user-images.githubusercontent.com/6948878/142230978-79c8428e-c851-416a-9cf6-0659706b5dfb.png)

[2021-11-17 15:37] idoshamun commented on #297
@umairhm that's a weird exception. Can you try pulling the latest changes of this repo? We changed a bit the docker-compose file. If it doesn't help, I'll try to look for a solution

[2021-11-17 15:51] umairhm commented on #297
@idoshamun I pulled the latest master, but still the same error. Not sure if I am missing something locally or it's the image that's broken.

[2021-11-17 15:54] idoshamun commented on #297
Can you please try to run:
[code]
And then try again. Stack Overflow says that it's probably due to existing data

[2021-11-18 16:02] rebelchris commented on #337
Hi @shaivik thanks for logging this!

We just released a new version of the extension where you have this option! 👀
Let us know if you have more great additions.

<img width="1440" alt="Screenshot 2021-11-18 at 18 01 39" src="https://user-images.githubusercontent.com/554874/142451296-83f7572d-28ee-444c-9865-0a35b0d793ed.png">

[2021-11-18 16:02] #337 closed

[2021-11-20 13:14] dmig opened #354 "🧩 FEATURE REQUEST: light theme & automatic mode"
## Feature Request
Light and dark themes along with automatic switching become widely spread. I'd suggest implementing a new theme and a tri-state theme selector: auto-light-dark.

[2021-11-20 14:01] nimrodkra commented on #354
Hi @dmig, thanks for submitting this feature request. We already support those three states (dark, light, and auto). Here's a link to the docs, explaining how to change your theme: https://docs.daily.dev/docs/settingyourfeed/customize-your-feed/theme

[2021-11-20 14:01] #354 closed

[2021-11-20 15:18] dmig commented on #354
Sorry, now I remember why I chose dark... Automatic switching has never been working!

[2021-11-20 20:30] dmig opened #355 "🐛 BUG: automatic light/dark theme switching is broken"
## 🐛 Bug Report
Automatic light/dark theme never worked actually. When set to 'auto' it always set light theme.

### What went wrong? 🤔
No automatic theme switching.

### Expected Behavior
Dark theme set along with browser dark mode, as other sites do.

### Actual Behavior
Theme is always light

### Steps to Reproduce Issue
Set theme selector to 'auto', switch browser to dark mode either passing `

[2021-11-20 20:32] dmig opened #356 "🐛 BUG: error saving account details"
## 🐛 Bug Report
'This email is already used' error message instead of closing 'account settings' dialog.

### Steps to Reproduce Issue
1. Open 'Account Settings'
2. Press 'Save' button

#### Version of Daily
3.10.0

#### Browser
Google Chrome 96

![Screenshot from 2021-11-20 14-15-03](https://user-images.githubusercontent.com/388564/142740169-42be0bf7-a211-4388-bcf9-2bc8404e20ff.png)

[2021-11-20 20:46] dmig opened #357 "🐛 BUG: wrong icons used for settings and sidebar"
## 🐛 Bug Report
All UI guidelines advise to use _cog_, _toolbox_ or _sliders_ icon for opening application settings dialog. But not in daily.dev. It uses its own icon looking like a table. Which is totally confusing for unexpected behaviour.

Another problem is: daily.dev uses _cog_ icon for sidebar. Which is also confusing.

### Solution
- Use _cog_ icon for settings.
- Use special _sidebar_ or _

[2021-11-21 08:23] OlaoluwaM commented on #356
I also have this issue, but mine might be because I have logged in with both google and github. Is there a way to merge accounts or close one?

[2021-11-21 13:55] Shubh28698 opened #359 "🐛 BUG: daily.dev logo cannot be seen clearly when switched to dark default mode in github"
## 🐛 Bug Report

 What went wrong? 🤔
 When Switched to Dark mode in github, one cannot see daily.dev logo clearly.

How did you expect it to behave?
It should be seen clearly in dark mode also.

Steps to Reproduce Issue:
1. Visit https://github.com/dailydotdev/daily.
2. Navigate to top of Readme.md section.
3. One cannot see the logo in dark mode there

Solution:
Logo with correct colour schemes m

[2021-11-21 15:29] DionneNoellaBarretto opened #360 "🐛 BUG: Unable to save Account Details ( Time Change - Email Validation blocking update)"
## 🐛 Bug Report

**NOTE:** Similar issue was fixed few weeks ago https://github.com/dailydotdev/daily/issues/340

### What went wrong? 🤔
Unable to 'Save Changes' for Account Details > update to timezone field
![image](https://user-images.githubusercontent.com/16610213/142768107-976fff22-8e7f-4af8-8a37-afdb78c3d0f6.png)
### Expected Behavior

Should I change a field / update a section in the Accoun

[2021-11-21 15:35] idoshamun commented on #355
Hi @dmig,
Thanks for reporting this issue, we will do our best to fix this issue.

[2021-11-21 15:37] idoshamun commented on #357
Hi @dmig,

I'll forward your concern to our design team and we will do our best to address it.
Anyway, we will change this layout pretty soon. Just giving you a hint 😉

[2021-11-21 15:46] idoshamun commented on #356
Hi @dmig,

I fixed this issue. It happens because we don't support merging two social accounts. Please confirm this works.

@OlaoluwaM please shot us an email at support at daily dot dev and we will be happy to assist.

[2021-11-21 15:46] #356 closed

[2021-11-21 15:46] DionneNoellaBarretto opened #361 "🧩 FEATURE REQUEST: Ability to Add different Social Media HAndles"
## Feature Request

### Description

 I would like to have the ability to add multiple social media handles to my Profile / Account Details - besides the default twitter / github / hashnode / linkedin hotlinks ( also for the profile website link may be only showing a clickable icon like the github/hashnode icon will look better as opposed to filling the space with a truncated url..

![image](https

[2021-11-21 15:49] idoshamun commented on #359
Hi @Shubh28698,

We will check how to address this issue. If you know how to support dark/light theme in markdown you are more than welcome to submit a PR :)

[2021-11-21 15:51] idoshamun commented on #360
This should be fixed now. Please confirm :)

[2021-11-21 15:51] #360 closed

[2021-11-21 15:52] idoshamun commented on #361
Hi @DionneNoellaBarretto,

Thanks for the suggestion, I'll forward it to the team and get back to you on this.

[2021-11-21 16:24] #359 closed

[2021-11-21 16:25] idoshamun commented on #359
We added a background to the image, please confirm the fix

[2021-11-21 16:47] Shubh28698 commented on #359
Hi Ido,

The fix seems perfect!

Thank you!!

[2021-11-21 16:48] Shubh28698 commented on #359
I have checked it across all the themes and looks cool now

[2021-11-22 06:29] sshanzel commented on #355
Hi @dmig, thank you for reaching out with your concern. I tried the theme functionality just now and it seemed to work very well. May I ask, do you have any apps installed that might be overriding your system settings?

My chrome version on the recording below: v95.0.4638.69

https://user-images.githubusercontent.com/13744167/142810934-b7d6add6-25a1-40ab-8545-80f68069bc97.mov

[2021-11-22 08:13] Kvaibhav01 opened #365 "🐛 BUG:"
## 🐛 Bug Report

This is related to the sidebar:

<img width="429" alt="A screenshot showing the sidebar panel of the extension." src="https://user-images.githubusercontent.com/11731837/142825176-4236803d-b645-4084-9147-8f6b5e7e6772.png">

### Expected Behavior

1. When we click outside of the sidebar it should close. Currently, it's not closing and the only way to close is using the cog icon:

![

[2021-11-22 08:23] Kvaibhav01 opened #366 "🧩 FEATURE REQUEST: Adding a navigation shortcut"
## Feature Request

This is a feature request to add a navigation shortcut or quick nav. This is primarily be used to do seamless tasks in the app/extensions quickly.

### Description

There can be some shortcuts to the app/extension. Like we can have <kbd>Cmd + S</kbd> to open sidebar, <kbd>Cmd + C</kbd> to comment etc.

### Solution

I recently got to know about this awesome library related to t

[2021-11-22 08:39] dmig commented on #355
There is a bug in Linux Chrome with system-wide dark theme detection: https://bugs.chromium.org/p/chromium/issues/detail?id=998903. So I use `--force-dark-mode` to launch it with dark UI. Looks like I needed to add another option for the dark mode to work in extensions: `--enable-features=WebUIDarkMode`.

So, this is a Chrome bug rather than this extension. My apologies.

[2021-11-22 08:40] #355 closed

[2021-11-22 09:58] idoshamun commented on #365
Hi @Kvaibhav01,

Thanks a lot for the feedback, I'll raise it internally and let you know.
We're about to introduce something new anyway so stay tuned :)

[2021-11-22 10:00] idoshamun commented on #366
Hi @Kvaibhav01,

This is a great suggestion. I'll keep you posted :)

[2021-11-22 10:13] FrancescoXX commented on #366
thank you for this suggestion!

[2021-11-23 09:54] RafidMuhymin opened #368 "🧩 FEATURE REQUEST: Add Cloudflare Blog to sources"
## Feature Request

Please add the [Cloudflare Blog](https://blog.cloudflare.com/) to the list of sources.

### Description

**Daily.dev** is missing a great and important source of blog posts on development, **The Cloudflare Blog**. Their blogs are so informative and also very important if you are interested in the workflow of Cloudflare. So, I think it'll be a good one to add. I tried to add it

[2021-11-23 10:02] idoshamun commented on #368
Hi!

We have it already but I do see that it doesn't get updated. I'll check it.

https://app.daily.dev/sources/cloudflare

On Tue, Nov 23, 2021, 11:54 Rafid Muhymin Wafi ***@***.***>
wrote:

[2021-11-25 02:52] duannx commented on #348
Hi @idoshamun, i have the issue too. Please help me with this. My email is xuanduannguyen@gmail.com. I want to keep the Google account

[2021-11-25 07:03] idoshamun commented on #348
Hi @duannx,
I deleted your GitHub account :)

[2021-11-25 17:55] RajvirSingh1313 opened #369 "🧩 FEATURE REQUEST: Sorting Feature for the reading history page"
## Feature Request
Sorting Feature for the [reading history page](https://app.daily.dev/history)

### Description
When the first time, I got to know about the history feature, I just wanted to see my first read with dev.to . But I had to scroll all the way down to find it, and it was pretty hard as I read a lot of articles every day. So this is the problem.

### Solution
The solution can be just t

[2021-11-26 03:08] duannx commented on #348
@idoshamun Thank you very much 😄

[2021-11-27 07:25] #369 closed

[2021-12-03 08:22] Kvaibhav01 opened #371 "🐛 BUG: Weird behaviour of the checkbox in rank pop-up (UI/UX issue)"
## 🐛 Bug Report

### What went wrong? 🤔

The rank pop-up which has an option to opt-out of it has some issues in the checkbox. Not working correctly I think.

### Expected Behavior

I expect that these issues to be fixed:

1. **UI/Accessibility issue**: When I click the checkbox, there should be enough _contrast_ between the checkmark (black #0f1217 color) and the filled blue color (#3255e4) of th

[2021-12-05 09:58] notiv-nt opened #372 "🐛 BUG: 1gb of cache"
## 🐛 Bug Report

### What went wrong? 🤔

Can you please stop caching everything ?

![image](https://user-images.githubusercontent.com/10743009/144741861-dfa46d1a-5fa2-43c5-819b-93a9396037f5.png)

### Expected Behavior

😀

### Actual Behavior

😡

### Environment

Chrome 96

[2021-12-05 11:42] iamludal opened #373 "🐛 BUG: "Last Year" is split in two lines"
## 🐛 Bug Report

### What went wrong? 🤔

The "Last Year" option in the profile page is split in two lines.

![image](https://user-images.githubusercontent.com/44783088/144744854-64c2f7e1-2bb7-40da-9aec-8be4ac844758.png)

### Expected Behavior

It should either be on one line, or the background height should be adjusted to match the box size.

### Actual Behavior

The option is currently split in t

[2021-12-05 22:32] iamludal opened #374 "🐛 BUG: cannot update profile (email already in use)"
## 🐛 Bug Report

### What went wrong? 🤔

When I want to update my profile information (here, my bio), I receive an error message telling me that the email is already in use (well, yes, by me...). By the way, I did not touch this field. I only changed the bio.

### Expected Behavior

My profile should be updated, and I shouldn't get this error message.

### Actual Behavior

I have an error message

[2021-12-06 06:06] idoshamun commented on #374
Hi!

Please send us an email to support at daily.dev and we will resolve this issue for you.
It is happening due to a legacy issue with our authentication system. We will fix it soon.

[2021-12-06 06:06] #374 closed

[2021-12-06 06:07] idoshamun commented on #373
Thanks a lot for reporting!
We will go ahead and fix it :)

[2021-12-06 06:09] idoshamun commented on #372
Hi @notiv-nt,

I must say that I loved your expected and actual behavior description 😂
As for your issue, this is happening due to the default workbox configuration.
I looked into it and the root cause is media caching. Its default limit is too high.
We will fine-tune the configuration and let you know.
Thanks for pointing out this critical issue.

[2021-12-06 06:13] idoshamun commented on #371
Hi @Kvaibhav01,

Thanks for yet another important issue!
I'll forward it to @tsahimatsliah and let you know :)

[2021-12-06 10:20] sshanzel commented on #373
Hi @iamludal, thank you so much for reporting this concern! We have merged the changes and the fix should have been reflected by now.

Please let us know if the issue still persists so we can take further action.

[2021-12-06 10:20] #373 closed

[2021-12-06 11:00] iamludal commented on #373
You're most welcome! 🤗

[2021-12-06 11:04] iamludal commented on #373
Well, I was expecting to see the full text ("Last year") instead. Was it on purpose? 🤔
![image](https://user-images.githubusercontent.com/44783088/144835257-c9a53f42-99d4-49ef-b646-1a878942aa75.png)

[2021-12-06 11:18] sshanzel commented on #373
Thank you for the very quick response. May I know what is the system font you are using? So I could replicate the case better.

[2021-12-06 11:44] tsahimatsliah commented on #371
@Kvaibhav01 , I always like your feedback and appreciate your time and effort to help us improve.

1. We know this issue already, and it is on our roadmap,
We should fix it with other accessibility issues like our buttons' icon/text color.

2. The quick and easy way to fix it is to remove the icon from the unselected box. (Attached example)
I accept your feedback and add it to our tasks.

![image]

[2021-12-06 12:33] Kvaibhav01 commented on #371
Yes, that looks much better! Thank you for accepting 🙌

[2021-12-06 13:20] iamludal commented on #373
Well I don't know, I think it's the default font of my browser. Still, my system font is "Ubuntu Regular", but I don't think it has something with it.

However, it seems like the `truncate` class is causing the issue (because it has a `overflow: hidden` property). I tried to disable it, and it works as expected. The only thing is that the right arrow is shifted to the right, but the background doe

[2021-12-06 13:40] sshanzel commented on #373
@iamludal we really do appreciate it when awesome people like **you** are providing as much information as they could.

The reason I had to ask was the fact we use `system-ui` for our font which utilizes the browser's current font which uses the font of the OS.

In this case, the cutting off of the content is our expected behavior based on our UI guideline. This means we will have to make adjustme

[2021-12-06 15:23] iamludal commented on #373
My pleasure! I really enjoy your app.

Thanks for this information. Don't hesitate to keep me informed when you have some news.

[2021-12-07 11:40] sshanzel commented on #373
We are very glad to hear you are enjoying the app! Each and everyone in the team is always 100% working to improve the community's experience every moment.

We have now merged the fix which should have tackled the primary concern in this issue. Hopefully, it is displaying as intended on your end now.

Thank you so much for your patience! 🙏

[2021-12-07 13:27] iamludal commented on #373
It works as expected, congratulations! 😎

![image](https://user-images.githubusercontent.com/44783088/145037525-cf506fb5-5be8-4cc2-a961-c3fe101e647d.png)

[2021-12-09 08:21] aranwe opened #375 "🧩 FEATURE REQUEST: Re-fetch new articles only after some idle time"
## Feature Request
### Description

When I open new tab and type in URL I quite often glance at an article heading and realize just as I am hitting enter that I actually wanted to read it.
After I open new tab daily.dev re-fetches the articles and the one I actually wanted to read disappears (or is in different position on the page making it difficult to find it).

### Solution

I would like daily

[2021-12-12 06:40] idoshamun commented on #375
Hi @aranwe,

Thanks for the suggestion actually we have a cache mechanism in place that works a bit differently than what you suggest.
We set the TTL for 3 minutes for the feed cache the moment we generate a new feed but don't wait for IDLE times.
The tricky part with a New Tab extension is that IDLE is hard to define because opening new tabs is just a so common action.

I do agree that we can kee

[2021-12-14 09:28] leon0399 opened #376 "Webmentions support"
It would be great to have a Webmentions support for comments and upvotes. [Webmentions](https://indieweb.org/Webmention) is W3C standart for gathering interactions within Web

[2021-12-15 11:13] AnishDe12020 opened #377 "Loading indicator on profile page"
Loading the stats on the user's profile page often takes some time. There can be something like a loading indicator or a loading skeleton instead of a blank component

P.S. - I am willing to work on this

[2021-12-15 13:31] idoshamun commented on #377
Hi @AnishDe12020,

Thanks for the suggestion.
Any specific components inside the profile page?

[2021-12-15 13:45] AnishDe12020 commented on #377
The posts section probably will be the one

[2021-12-16 07:16] idoshamun commented on #377
Let me raise it internally and get back to you :)

[2021-12-16 18:21] RafidMuhymin commented on #368
@idoshamun Didn't know that you can read posts from a specific source like that!

[2021-12-16 23:43] omBratteng opened #383 "🧩 FEATURE REQUEST: Add `action-devcard` to the README of this repo"
## Feature Request

Add the https://github.com/dailydotdev/action-devcard repo to the list in this README, so people can discover it here as well.

[2021-12-19 07:03] idoshamun commented on #368
I investigated further this issue and apparently, Cloudflare introduced a scraping blocker. This is why their recent posts are not being fetched by our bots. I'll keep you posted

[2021-12-19 07:04] idoshamun commented on #383
Hi @omBratteng,

This is a great suggestion. You can go ahead and add it :)

[2021-12-20 06:38] #383 closed

[2021-12-20 06:38] idoshamun commented on #383
Thanks @ankanbag101 for adding it to the readme :)

[2021-12-20 23:32] omBratteng commented on #383
Awesome @ankanbag101, thanks!

[2021-12-21 14:28] Shylajhaa commented on #303
@idoshamun Is this available to work on? If yes, can I work on this?

[2021-12-21 15:18] idoshamun commented on #303
Hi @Shylajhaa!

Actually it's already live. Forgot to close this issue 😓
https://docs.daily.dev/docs/your-profile/deleting-your-profile

[2021-12-21 15:18] #303 closed

[2021-12-23 08:46] v2-lab opened #389 "🐛 BUG: Found a style issue for extension"
## 🐛 Bug Report

### What went wrong? 🤔
<img width="1255" alt="WeChatWorkScreenshot_e3b02562-f823-4445-a492-797d81b27b39" src="https://user-images.githubusercontent.com/54586366/147213263-5c684612-0016-47d7-b998-116a29f0457e.png">

Looks like the tag in wrong z-index

### Expected Behavior

Tag in the right place

### Actual Behavior

### Steps to Reproduce Issue

In Home Page

### Solution

Maybe

[2021-12-23 10:59] v2-lab commented on #389
My wrong!!!!!!

[2021-12-23 10:59] #389 closed

[2021-12-23 14:52] InHuOfficial opened #390 "Master Branch should be renamed to Main"
As part of a review with Eddie Jaoude and Francesco Ciulla, Eddie suggested using the modern naming convention of "Main" instead of "Master" for the primary branch.

## Actions
Rename "Master" branch to "Main"

[2021-12-23 14:53] krshkodes opened #391 "🧩 FEATURE REQUEST: Livestream review suggestions"
## Feature Request

- Use releases.
- Hide Packages

![image](https://user-images.githubusercontent.com/91655303/147256387-06c0dfad-6193-4a94-9cda-57cfc098d79d.png)

- Move the wiki to a docs folder

![image](https://user-images.githubusercontent.com/91655303/147256413-26fc99fe-96a1-4297-b1e4-4e01093fe819.png)

- Pull Request Template

- GitHub Actions CI

- Make the branch  `main`

### Descriptio

[2021-12-23 15:03] eddiejaoude commented on #391
Some thoughts...

- using conventional commits which is awesome! So could create releases a GitHub Action with a change log https://github.com/EddieHubCommunity/LinkFree/releases
- Wiki to have a link to docs repo
- Maybe use `quickstart` in the getting started section

[2021-12-24 02:57] blakecoding commented on #390
why? What are the advantages?

[2021-12-24 14:22] mohamedGamalAbuGalala opened #394 "🐛 BUG: Can't sign in"
## 🐛 Bug Report

### What went wrong? 🤔

Can't SignIn.

### Expected Behavior
I should be able to signIn

### Actual Behavior

### Steps to Reproduce Issue

https://user-images.githubusercontent.com/14947957/147358679-077a527d-d79d-4e1d-b827-f38f1cef890c.mp4

### Solution

### Environment

#### Operating System

#### Version of Daily

#### Browser
Chrome

[2021-12-26 06:25] idoshamun commented on #390
Hi @InHuOfficial,

Our newer repos already include this change but unfortunately, we didn't change the old repos that we created before "main". We will do it soon

[2021-12-26 06:32] idoshamun commented on #391
Hi @krishguptadev and @eddiejaoude,

Thanks for this feedback. I already applied some of it.
Decided to remove the wiki for now as it's not updated and the updated version is our docs.
As for the changelog we do have our manually written changelog here: changelog.daily.dev.
I'll follow up with the rest later on. Thanks a lot :)

[2021-12-26 06:34] idoshamun commented on #394
The issue is caused because you registered with the same email address with two different accounts.
Please use your GitHub account, it should work now.

[2021-12-26 06:34] #394 closed

[2021-12-26 07:25] eddiejaoude commented on #391
Awesome! Great to hear! Have a great festive season and a wonderful 2022, hopefully with lots more geeking out and collabs!

[2021-12-26 17:03] iamsajithk opened #403 "Duplicate post in feed"
![image](https://user-images.githubusercontent.com/11171512/147415202-22710aa6-a39e-4761-ad57-bc8b039bf889.png)

[2021-12-28 14:52] RajvirSingh1313 opened #399 "🐛 BUG: Opens upvoted page as default page"
## 🐛 Bug Report
![image](https://user-images.githubusercontent.com/63385587/147577731-4d9d5055-b1a2-44a0-9e8c-71c960d6c1bb.png)

It is not a bug, but it seems like it. Whenever a new tab is opened, the app shows upvoted as the default page but the sidebar shows popular as the current page. When I click on the popular page from the sidebar then it opens the popular page. I think there is good amoun

[2021-12-28 15:28] mohamedGamalAbuGalala commented on #394
Confirmed 🙌🏼

[2021-12-29 05:30] idoshamun commented on #399
Hi @RajvirSingh1313,

We will look into it :)

[2021-12-29 05:31] idoshamun commented on #403
Hi @iamsajithk,

Thanks for the report. I'll try to find the root cause

[2021-12-29 07:57] RajvirSingh1313 commented on #399
Thanks alot

On Wed, Dec 29, 2021 at 11:00 AM Ido Shamun ***@***.***>
wrote:

[2021-12-29 14:32] RajvirSingh1313 commented on #399
@idoshamun It is solved, I just reinstalled the extension and it is working fine now. But I think it would be good if you can add the default page option to the settings. Let me know what you think, as it is not easy to make a change in a large project. So I would like to know your opinions on this. I am going to close this issue, you can answer me (when you will be free) on this discussion https:

[2021-12-29 14:33] #399 closed

[2021-12-29 14:37] rebelchris commented on #399
Hi @RajvirSingh1313,

We are actually pushing a new version out as we speak.
This version will solve the default feed to which ever feed you visited last.

Keep an eye out for this update.
And again thanks a lot for logging the issue 🙌

[2021-12-29 16:04] RajvirSingh1313 commented on #399
@rebelchris Yeah Sure!, thanks for adding it

[2021-12-30 15:45] datscyril opened #405 "When you register and you click on the finish button, there is no redirection to the home page"

[2021-12-30 21:02] sshanzel commented on #405
Hi! Hope you are doing well. Just wanted to check, were you successful with your registration? We have tried both on webapp and extension to register new users but it seems to redirect us on the right page.

If in time we'll be able to reproduce the case, we will definitely fix it and let you know about it. Thank you!

[2021-12-30 21:02] #405 closed

[2021-12-31 14:08] ShaikRehan123 commented on #372
But i am getting only 352kb
![image](https://user-images.githubusercontent.com/83860384/147827429-b0f2f147-c2f7-48f1-8ce0-6aca0b16dc4b.png)

[2022-01-01 11:16] datscyril commented on #405
Hi! Happy new Year ! The registration was successful yes. It can be my browsers extensions, I'll check it out and let you know!

I really appreciate your job guys keep going 👏

[2022-01-02 06:39] idoshamun commented on #372
Thanks for validating @ShaikRehan123.
This problem seems to happen only in the web app due to service worker configuration

[2022-01-04 07:33] avneesh0612 opened #410 "🧩 FEATURE REQUEST: Add recent tab in sidebar"
## Feature Request
Add a recent tab in the sidebar

### Description
https://app.daily.dev/recent works but there isn't any link for it in the sidebar.

### Solution
Add an icon like a clock that links to recent posts page.

[2022-01-05 06:14] idoshamun commented on #410
Hi @avneesh0612,

We're planning the return of the recent feed very soon.
It'll be quite a different implementation of what it used to be but stay tune :)

[2022-01-05 06:24] avneesh0612 commented on #410
okay cool!

[2022-01-06 15:42] joshwcorbett commented on #365
I think the new sidebar design fixes this issue. Expanded/collapsed states don't need to feature a 'click outside to close' feature.

[2022-01-07 19:55] BudhirajaMadhav opened #412 "🧩 FEATURE REQUEST: Option to edit frequently visited sites bar."
## Feature Request

### Description

I would like if I could remove or add any site manually from/to the most  frequently visited sites bar.
![image](https://user-images.githubusercontent.com/73742540/148599243-f0ee7524-3e14-45eb-8c1c-d6c00b655290.png)

### Solution

I haven't gone through the code but suppose it must have been implemented by LFU Cache, if it's that writing fns to delete from hash

[2022-01-07 20:18] BudhirajaMadhav opened #413 "🐛 BUG: Adding a redirect to https://api.daily.dev/"
## 🐛 Bug Report

### What went wrong? 🤔

I manually opened [api.daily.dev](https://api.daily.dev) and it showed this
![image](https://user-images.githubusercontent.com/73742540/148600270-33a3f4a3-c90b-4f07-8503-0e6cd2a10c68.png)

### Expected Behavior

It doesn't look good if the main `/` route of any site is showing this, I would request if you could add a redirect here. A quick thing to be done

[2022-01-07 20:18] BudhirajaMadhav commented on #413
Can I be assigned?

[2022-01-08 10:44] idoshamun commented on #365
Yap, you're right. We do want to turn the feed filters user interface into a popup rather than a secondary sidebar. What do you think?

[2022-01-08 10:45] idoshamun commented on #412
Hi @BudhirajaMadhav,

Thanks for the suggestion. It's already on our roadmap, I can't commit to a specific timeline but stay tuned :)

[2022-01-08 10:47] idoshamun commented on #413
Hi @BudhirajaMadhav,

Sure! That's a great idea. The best place to implement it is our [daily-gateway](https://github.com/dailydotdev/daily-gateway) repo.
We want to redirect to `https://daily.dev` in case someone visits directly `https://api.daily.dev`.
Let me know if you need any guidance.

[2022-01-08 11:52] BudhirajaMadhav commented on #412
Okay :D

[2022-01-08 11:53] BudhirajaMadhav commented on #413
Should I make an issue there, or Can this one be transferred?

[2022-01-08 11:58] idoshamun commented on #413
No need to transfer. We centralize all issues here. You can start if you
want 😃

On Sat, Jan 8, 2022, 13:53 Madhav Budhiraja ***@***.***>
wrote:

[2022-01-09 16:49] arpitdalal opened #418 "🐛 BUG: weird behavior of home tab sometimes"
## 🐛 Bug Report

Seeing posts on top of each other on the home tab in pwa sometimes.

### What went wrong? 🤔
Stacked posts on top of each other on the home tab in pwa
![Screenshot_20220109-112950.jpg](https://user-images.githubusercontent.com/61059807/148691743-f4f10a7f-8825-4d13-8767-d2b775dcca48.jpg)

### Expected Behavior
Posts not stacked on top of each other

### Actual Behavior
Posts stacked

[2022-01-10 14:09] idoshamun commented on #418
Oppsss this probably happens due to our virtual grid library.
We will have to check it.

[2022-01-11 08:09] MadhaviMandalia commented on #342
Hello @idoshamun ,
Can I help on this issue?

Thanks & Regards.

[2022-01-12 07:12] idoshamun commented on #342
Hi @MadhaviMandalia,

We would be very happy to get your help on this.
First, please confirm that the issue still holds as we introduced a new layout recently which changed things a bit.

[2022-01-12 21:24] ankitverma2211 commented on #297
hey, @idoshamun is this actively being worked on. If shall I try to tackle it .

[2022-01-12 21:29] umairhm commented on #297
Hey @ankitverma2211, I was trying work on this but for some weird reason, I couldn't set up the environment. And now I'm swamped with work, so I'm not able to make time right now.

Please take it away and best of luck 😊

[2022-01-13 06:54] idoshamun commented on #297
@ankitverma2211 sure go ahead! :)
We're here if you need any help

[2022-01-13 09:58] ankitverma2211 commented on #297
Thanks for the kind words. Let me try to do the setup

[2022-01-14 13:26] Posandu opened #422 "🐛 BUG: We can add a blank comment"
## 🐛 Bug Report

### What went wrong? 🤔

Type a blank space in the comment field and post it.

### Expected Behavior

Show an error message

### Actual Behavior

The comment posts with a blank

### Steps to Reproduce Issue

Go to a post
Press space key
Press enter key

### Solution

This JS snippet can be used

[code]

#### Operating System
Windows

#### Version of Daily
Latest

#### Browser
Chrom

[2022-01-15 22:45] tcampbPPU opened #425 "Error loading PWA on iPad"
Recently I have been unable to use the daily.dev PWA application on my iPad, the same issue does not appear to be happening on my iPhone, where I am logged into the same account. The is the error I am seeing below:
![image](https://user-images.githubusercontent.com/25044744/149639971-08e199a2-96a0-4d33-ba5f-46beac52e74d.png)

Willing to provide more info if needed

Thanks!

[2022-01-16 13:46] idoshamun commented on #422
Oh thank you very much for this discovery, @Posandu.
We will fix it :)

[2022-01-16 14:02] idoshamun commented on #425
Hi @tcampbPPU,

We will try to reproduce this issue and let you know.
Thanks a lot for reporting this.

[2022-01-16 16:17] #413 closed

[2022-01-16 16:19] BudhirajaMadhav commented on #413
- https://github.com/dailydotdev/daily-gateway/pull/405 Merged

[2022-01-16 21:14] mrevjd commented on #410
https://app.daily.dev/recent now no longer works. Very disappointing.

[2022-01-16 21:16] idoshamun commented on #410
@mrevjd you can keep track here:
https://github.com/dailydotdev/apps/pull/822
The PR is ready will probably get merged tomorrow

[2022-01-17 05:29] AnishDe12020 opened #426 "🐛 BUG: No posts show up on daily.dev"
## 🐛 Bug Report

### What went wrong? 🤔

Woke up to a blank daily.dev -
![image](https://user-images.githubusercontent.com/63192115/149712322-f7822640-1115-4b81-9112-36a3c51d69ea.png)
Nothing shows up. Note that I logged out and then suddenly everything showed up but when I logged back in, I again see no posts. Note that this only happens in the popular feed. I can see posts in Best discussions an

[2022-01-17 05:46] avneesh0612 commented on #426
same for me :(

[2022-01-17 06:25] idoshamun commented on #426
Can you please share your daily.dev usernames so I can have look?

[2022-01-17 06:57] avneesh0612 commented on #426
https://app.daily.dev/avneesh0612 @idoshamun

[2022-01-17 07:16] idoshamun commented on #426
@avneesh0612 can you try again, please?

[2022-01-17 07:32] avneesh0612 commented on #426
It only shows me 1 post

[2022-01-17 07:41] idoshamun commented on #426
I'm pushing a new API version that will help me debug this. Pretty weird issue because I don't see any issue when I'm doing manually the request. But I do see it in production.

[2022-01-17 08:01] AnishDe12020 commented on #426
I also seem to see 1 article appearing at times

![image](https://user-images.githubusercontent.com/63192115/149730427-7133a99b-7c1f-45aa-aa4a-4c09bbfdc393.png)

[2022-01-17 08:35] AnishDe12020 commented on #426
It is for Feed -
![image](https://user-images.githubusercontent.com/63192115/149734885-294a83c2-ebc8-45f7-9145-24a388f2c814.png)

And this is the query, prettified -
[code]

[2022-01-17 08:37] idoshamun commented on #426
Sweet! Thanks a lot :)

[2022-01-17 08:49] idoshamun commented on #426
I see what's the problem now. We had some issues in our last version in the way we track impressions of articles which caused our algorithm to hide many articles that it thinks are not relevant for you.
I will have to see how I can revert some of it and hopefully, we can release a new version pretty soon with the fix.
Another way to temporarily fix the issue is to add more tags you follow so the a

[2022-01-17 09:00] avneesh0612 commented on #426
I see an error now 👀
![image](https://user-images.githubusercontent.com/76690419/149739128-86567376-10c6-4c34-bc70-a1e4587d8ff6.png)

[2022-01-17 09:24] rebelchris commented on #426
Hey @avneesh0612 thanks for reporting this error.
I'll look into this right away, I might reach out to you if that's ok with you?

[2022-01-17 09:33] idoshamun commented on #426
@avneesh0612 @AnishDe12020 I applied a temporary fix that should solve the empty feed issue until we release the new version.
@avneesh0612 please proceed with @rebelchris on fixing the other error you mentioned.
I'll be closing this ticket, for now, please let me know if the issue returns

[2022-01-17 09:33] #426 closed

[2022-01-17 09:34] AnishDe12020 commented on #426
Cool, the articles show up now.

[2022-01-17 09:35] avneesh0612 commented on #426
Clearing the site data worked. @rebelchris probably knows the issue now :)

[2022-01-17 11:45] rebelchris commented on #426
@avneesh0612 Indeed, thanks for the help appreciate it 👏
Narrowed down the issue you where having with the error showing and we are deploying a fix for that. 🥳

[2022-01-17 11:58] rebelchris commented on #425
@tcampbPPU Hi there, and thanks for logging this issue.
Would you mind updating to the latest version: `v3.13.0` and see if that solves it?

Closing this for now, but feel free to open it if it's not solved for you.

[2022-01-17 11:58] #425 closed

[2022-01-17 12:55] avneesh0612 commented on #426
Awesome!

[2022-01-17 14:11] nimrodkra commented on #410
@avneesh0612 The change is live: https://app.daily.dev/posts/e-dQ6UyIA

[2022-01-17 14:11] #410 closed

[2022-01-17 15:27] avneesh0612 commented on #410
just saw it, awsm!

[2022-01-17 17:22] tcampbPPU commented on #425
Looks like issue has been resolved as it's working as expected again 👍

[2022-01-17 22:34] ldobreira opened #427 "🐛 BUG: News Not Sorting By Published Date Anymore!?"
## 🐛 Bug Report

### What went wrong? 🤔
Before the latest update, the browser extension (Firefox) was working great, but now for some reason, the browser extension is not listing the latest news by published date anymore. My feed is showing random news from 10 days ago. The menu offers  Popular news, Most upvoted, Best discussions and that's it, there is no latest news. I'm I missing something? Do

[2022-01-18 04:49] sshanzel commented on #422
Hi @Posandu, thank you for reporting! This should now be fixed by our latest update 🚢

Relevant PR: https://github.com/dailydotdev/apps/pull/829

[2022-01-18 05:48] #422 closed

[2022-01-18 06:24] idoshamun commented on #427
Hi @ldobreira,

Please update to version 3.13.0 and you will get the new sorting option in the customize menu :)
We should indicate the minimum version for every feature so it will be more clear.

[2022-01-18 06:26] #427 closed

[2022-01-18 15:32] joshwcorbett commented on #365
@idoshamun I think a popup is a little intrusive, perhaps the feed filters can replace sidebar content? And close when sidebar is closed or user hits save?

[2022-01-19 05:44] idoshamun commented on #365
@joshwcorbett there's no save button actually so we don't know when you actually finish messing around with your filters.
We decided to create another sidebar on top of the existing one because we needed more space for some long tags and settings there on one hand, but on the other, we didn't the main sidebar to be this big. Just sharing some of our considerations.

[2022-01-19 07:23] AnishDe12020 commented on #426
Looks like the issue is back and I have an error log on the console -

NOTE: only happening on my feed, popular, most upvotes, and best discussions are fine.

![image](https://user-images.githubusercontent.com/63192115/150083123-e2743d7a-4b4a-4b73-a8bc-679d23c29c1e.png)

Got this on another reload -

![image](https://user-images.githubusercontent.com/63192115/150083257-a532bf17-49f8-455f-9403-f1b0

[2022-01-19 07:32] rebelchris commented on #426
Thanks for logging this @AnishDe12020 We'll look into this again 👀

[2022-01-19 07:38] idoshamun commented on #426
@AnishDe12020 have you upgraded to 3.13.0?

[2022-01-19 08:19] AnishDe12020 commented on #426
Not yet, but the problem is gone now (idk why), maybe it was a server which was down?

[2022-01-19 08:31] idoshamun commented on #426
I applied again the temporary fix. But please make sure to update to the latest version

[2022-01-19 08:40] AnishDe12020 commented on #426
Oh. I have updated it now.

[2022-01-19 13:46] Anshuman71 opened #431 "🐛 BUG:"
## 🐛 Bug Report

### What went wrong? 🤔

When I try to add my website link, it gives me an error that the email exists.

### Expected Behavior
Allow me to add a website link

### Actual Behavior
Doesn't let me save information because the email field gives an error.

### Steps to Reproduce Issue

### Solution

### Environment

#### Operating System
Linux

#### Version of Daily

#### Browser
Chrome

[2022-01-19 13:46] Anshuman71 commented on #431
![image](https://user-images.githubusercontent.com/28081510/150143026-6ac71e5b-af64-4fb2-a5ca-6bae41d537e6.png)

[2022-01-19 13:59] rebelchris commented on #431
@idoshamun are you able to solve the login for anshu5074@gmail.com?

[2022-01-19 14:10] idoshamun commented on #431
@Anshuman71 it should work now.
Thanks @rebelchris!

[2022-01-19 14:10] #431 closed

[2022-01-19 19:29] ldobreira opened #433 "🐛 BUG: Feed Sorting Always Changes Back To "Recommended""
## 🐛 Bug Report

### What went wrong? 🤔

I just want to get my feed sorted by date, unfortunately, the sort always changes back to "Recommended" after a refresh or new tab.

### Expected Behavior

I just want to get my feed sorted by date every time.

### Actual Behavior

The sort always changes back to "Recommended" after a refresh or new tab.

### Steps to Reproduce Issue

### Solution

### Envi

[2022-01-20 07:17] rebelchris commented on #433
Hi @ldobreira thank you for filing this request.
We didn't plan the function like this, but are working on deploying it in the next release as a lot of people would like to see it like this.

Will keep you posted on when you can upgrade.

[2022-01-20 09:05] Anshuman71 commented on #431
thanks @idoshamun

[2022-01-20 18:15] ldobreira commented on #433
Thank you so much @rebelchris

[2022-01-24 14:44] AnishDe12020 opened #440 "🐛 BUG: Thumbnail seems to be cut out in posts view"
## 🐛 Bug Report

### What went wrong? 🤔

Thumbnail seems to be cut out -
![image](https://user-images.githubusercontent.com/63192115/150803963-0ace35b6-06b4-41fc-a5fd-90c9607d21a2.png)

### Expected Behavior

The whole thumbnail should be visible

### Actual Behavior

The thumbnail is not completely visible, seems as if there is an issue in the aspect ratio as well.

### Steps to Reproduce Issue

[2022-01-25 06:35] idoshamun commented on #440
Hi,

This is part of our new design for the article page. Still considering it though.
I'll let you know our final decision :)

[2022-01-26 03:07] avneesh0612 opened #442 "🐛 BUG: Reps less than upvotes"
## 🐛 Bug Report

### What went wrong? 🤔

The number of reps is less than the number of upvotes on posts. Although reps = upvotes on posts + comments.

![image](https://user-images.githubusercontent.com/76690419/151097341-35fd5353-26ca-4ff3-93be-f62db639bf7a.png)
https://app.daily.dev/avneesh0612

### Expected Behavior

I expect the reps to be more or equal to the number of upvotes on post.

### Ac

[2022-01-26 03:09] kr-anurag commented on #442
yep, im facing this issue too

[2022-01-26 03:12] RainboeStrykr opened #443 "🧩 FEATURE REQUEST: Make a daily.dev mobile app"
## Feature Request

Make a mobile app for Android and IOS

### Description

I would like to have a daily.dev mobile app as there is lack of developer focused news app on the market and this could give rise to a kind of social media for writers whose posts get featured.

### Solution

A simple app that can be downloaded from Play Store or App Store

### Alternate Solutions

Tried using different ne

[2022-01-26 05:29] AnishDe12020 commented on #442
Same problem here

[2022-01-26 05:39] rebelchris commented on #443
Hi @RainboeStrykr we do have a PWA that you can already use.
You can find all the information around it here: https://docs.daily.dev/docs/getting-started/pwa

[2022-01-26 05:39] #443 closed

[2022-01-26 06:21] gouravkhunger opened #444 "Suggest a new source link not found"
Hi daily.dev team,

I wanted to suggest a new content source. [In the docs](https://docs.daily.dev/docs/for-content-creators/suggest-new-source#submitting-your-source), it's suggested to use "Suggest new source" button on the sidebar. But I don't see any such button:

<img src="https://i.ibb.co/VTsVwpR/image.png" height="500" />

Maybe because the sidebar changed some time ago and docs weren't upd

[2022-01-26 06:56] rebelchris commented on #444
Hi @gouravkhunger we are updating the docs as we speak.
You can find it by clicking on the Feed Filter icon (right from the My Feed button)

![Screenshot 2022-01-26 at 08 55 58](https://user-images.githubusercontent.com/554874/151117005-c701409d-fede-4c20-98b5-40fc7be791de.png)

We'll let you know once the docs are up to date again 🙏

[2022-01-26 07:44] idoshamun commented on #442
When we attribute articles retroactively we don't add the reputation retrospectively as well. You will get the reputation only from the day we confirmed your account and attributed the articles. I hope this makes sense.

[2022-01-26 07:44] #442 closed

[2022-01-26 07:50] avneesh0612 commented on #442
Oh ok

[2022-01-26 12:54] gouravkhunger commented on #444
Thanks @rebelchris. Submitted @genicsblog 🎉

[2022-01-26 12:54] #444 closed

[2022-01-26 13:07] rebelchris commented on #433
Great news @ldobreira if you update to V3.13.1 you'll be able to persist your choice.

Closing this ticket for now.

[2022-01-26 13:07] #433 closed

[2022-01-26 19:14] JordanAmaralVicente opened #447 "🧩 FEATURE REQUEST: Use chrome default newtab"
## Feature Request
 - I want to use the default chrome new tab without daily dev.

### Description
 - Currently, i cannot remove daily.dev from newtab without remove also the extension:
![image](https://user-images.githubusercontent.com/42154494/151230536-7be1092f-d9f6-44cb-845d-79861dff9dec.png)

### Solution
- create a setting to remove the extension from newtab

### Alternate Solutions

[2022-01-27 04:52] AkashKumarVerma opened #448 "🐛 BUG: Registration process fails on Setup your profile page for Google Oauth flow."
## 🐛 Bug Report

### What went wrong? 🤔
Registering through google OAuth in Firefox is stuck at `Set your profile` page
![Screenshot](https://user-images.githubusercontent.com/6884951/151293698-8ed0765a-512b-4177-997d-d067dc36d1db.png)

### Expected Behavior
Registration should complete

### Actual Behavior
Pressing Finish button does nothing.

### Steps to Reproduce Issue
Register using Google OA

[2022-01-27 06:19] idoshamun commented on #448
This can be fixed manually please send us the email you used for the registration and we will fix it.
Email to support at daily.dev.
Thanks!